#define IDD_DLGSYM 2000
#define IDC_BTNNEXT 1001
#define IDC_BTNPREV 1002
IDD_DLGSYM DIALOGEX 0,0,21,351
FONT 8,"MS Sans Serif",400,0
STYLE 0x56000000
EXSTYLE 0x00000200
BEGIN
  CONTROL "",IDC_BTNNEXT,"Button",0x50010000,0,0,21,19,0x00000000
  CONTROL "",IDC_BTNPREV,"Button",0x50010000,0,332,21,19,0x00000000
END
#define IDM_MAIN 10000
#define IDM_FILE_NEW 10107
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_FILE_SAVE_AS 10108
#define IDM_FILE_PAGESETUP 10110
#define IDM_FILE_PRINT 10004
#define IDM_FILE_EXIT 10001
#define IDM_EDIT_UNDO 10101
#define IDM_EDIT_REDO 10102
#define IDM_EDIT_CUT 10103
#define IDM_EDIT_COPY 10104
#define IDM_EDIT_PASTE 10105
#define IDM_EDIT_DELETE 10106
#define IDM_EDIT_SELECTALL 10109
#define IDM_EDIT_COLOR 10120
#define IDM_EDIT_WIDTH 10121
#define IDM_EDIT_SNAP 10119
#define IDM_EDIT_ADDSYM 10122
#define IDM_VIEW_GRID 10111
#define IDM_VIEW_STATUSBAR 10113
#define IDM_VIEW_ZOOM_IN 10115
#define IDM_VIEW_ZOOM_OUT 10116
#define IDM_VIEW_ZOOM_BEST_FIT 10117
#define IDM_OPTION_SETUP 10112
#define IDM_OPTION_TOOLS_MENU 10114
#define IDM_OPTION_HELP_MENU 10118
#define IDM_HELP_ABOUT 10901
IDM_MAIN MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As\tCtrl+Shift+S",IDM_FILE_SAVE_AS
    MENUITEM "",,0x00000800
    MENUITEM "Page Setup\tCtrl+Shift+P",IDM_FILE_PAGESETUP
    MENUITEM "&Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "C&opy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Select All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "Set C&olor",IDM_EDIT_COLOR
    MENUITEM "Set &Width",IDM_EDIT_WIDTH
    MENUITEM "Snap To &Grid",IDM_EDIT_SNAP
    MENUITEM "Add Symbol",IDM_EDIT_ADDSYM
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Grid\tCtrl+G",IDM_VIEW_GRID
    MENUITEM "&StatusBar",IDM_VIEW_STATUSBAR
    MENUITEM "",,0x00000800
    MENUITEM "Zoom &In\tPgDn",IDM_VIEW_ZOOM_IN
    MENUITEM "Zoom &Out\tPgUp",IDM_VIEW_ZOOM_OUT
    MENUITEM "Zoom &Best Fit\tCtrl+B",IDM_VIEW_ZOOM_BEST_FIT
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "(Empty)",11000,,0x00000001
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "&Setup",IDM_OPTION_SETUP,,0x00000001
    MENUITEM "",,0x00000800
    MENUITEM "&Tools Menu",IDM_OPTION_TOOLS_MENU,,0x00000001
    MENUITEM "&Help Menu",IDM_OPTION_HELP_MENU,,0x00000001
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",12000,,0x00000001
  END
END
#define IDD_DIALOG 1000
#define IDC_SHP1 1005
#define IDC_SBR1 1002
#define IDC_TBR1 1003
#define IDC_TBR2 1004
#define IDC_CBO1 1006
#define IDC_EDT1 1007
#define IDC_STC1 1008
#define IDC_CAD2 1001
#define IDC_RBNSCHEMA 1009
#define IDC_RBNCOMP 1010
#define IDC_RBNPCBTOP 1011
#define IDC_RBNPCBBOTTOM 1012
IDD_DIALOG DIALOGEX 6,6,633,264
CAPTION "SimCad"
FONT 8,"MS Sans Serif",0,0
CLASS "DLGCLASS"
STYLE 0x16CF0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x56000000,0,157,315,12,0x00000000
  CONTROL "",IDC_TBR1,"ToolbarWindow32",0x56000844,0,1,174,14,0x00000000
  CONTROL "",IDC_TBR2,"ToolbarWindow32",0x56000AC5,0,16,15,140,0x00000000
  CONTROL "",IDC_SHP1,"Static",0x50000010,0,0,314,2,0x00000000
  CONTROL "",IDC_CBO1,"ComboBox",0x56210003,178,1,48,57,0x00000000
  CONTROL "",IDC_EDT1,"Edit",0x56010000,248,1,66,13,0x00000200
  CONTROL "",IDC_STC1,"Static",0x5600118C,230,1,14,13,0x00000000
  CONTROL "",IDC_CAD2,"CADCLASS",0x56300000,44,16,588,224,0x00000200
  CONTROL "Scema",IDC_RBNSCHEMA,"Button",0x50010009,248,5,58,8,0x00000000
  CONTROL "Components",IDC_RBNCOMP,"Button",0x50010009,310,5,58,8,0x00000000
  CONTROL "PCB Top",IDC_RBNPCBTOP,"Button",0x50010009,372,5,58,8,0x00000000
  CONTROL "PCB Bottom",IDC_RBNPCBBOTTOM,"Button",0x50010009,434,5,58,8,0x00000000
END
#define VERINF1 1
VERINF1 VERSIONINFO
FILEVERSION 0,8,6,3
PRODUCTVERSION 0,8,6,3
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "0.8.6.3\0"
      VALUE "FileDescription", "Simple cad\0"
      VALUE "LegalCopyright", "KetilO (C) 2004\0"
      VALUE "OriginalFilename", "SimCad.exe\0"
      VALUE "ProductName", "SimCad\0"
      VALUE "ProductVersion", "0.8.6.3\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
#define IDB_CADBOX						100
IDB_CADBOX				BITMAP   DISCARDABLE "Res/SimCadBox.bmp"
#define IDR_ACCEL						100
#define IDM_VIEW_HOME					10200
IDR_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE_AS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  80,IDM_FILE_PRINT,VIRTKEY,NOINVERT,CONTROL
  90,IDM_EDIT_UNDO,VIRTKEY,NOINVERT,CONTROL
  89,IDM_EDIT_REDO,VIRTKEY,NOINVERT,CONTROL
  34,IDM_VIEW_ZOOM_IN,VIRTKEY,NOINVERT
  33,IDM_VIEW_ZOOM_OUT,VIRTKEY,NOINVERT
  46,IDM_EDIT_DELETE,VIRTKEY,NOINVERT
  65,IDM_EDIT_SELECTALL,VIRTKEY,NOINVERT,CONTROL
  88,IDM_EDIT_CUT,VIRTKEY,NOINVERT,CONTROL
  67,IDM_EDIT_COPY,VIRTKEY,NOINVERT,CONTROL
  86,IDM_EDIT_PASTE,VIRTKEY,NOINVERT,CONTROL
  36,IDM_VIEW_HOME,VIRTKEY,NOINVERT
END
