#include "Res/ProjectOptionDlg.rc"
#include "Res/AboutDlg.rc"
#include "Res/EnvironmentDlg.rc"
#include "Res/OptionDlg.rc"
#include "Res/NewProjectTab2Dlg.rc"
#include "Res/NewProjectTab3Dlg.rc"
#include "Res/NewProjectTab1Dlg.rc"
#include "Res/NewProjectDlg.rc"
#include "Res/TabOptionsDlg.rc"
#include "Res/TabOpt5Dlg.rc"
#include "Res/TabOpt4Dlg.rc"
#include "Res/TabOpt3Dlg.rc"
#include "Res/TabOpt2Dlg.rc"
#include "Res/TabOpt1Dlg.rc"
#include "Res/KeyWordsDlg.rc"
#include "Res/RadASMRes.rc"
#include "Res/RadASMMnu.Rc"
#include "Res/ContextMnu.rc"
#include "Res/RadASMAcl.rc"
#include "Res/MenuEditDlg.rc"
#include "Res/IncludeEditDlg.rc"
#include "Res/ResourceEditDlg.rc"
#include "Res/StringEditDlg.rc"
#include "Res/AccelEditDlg.rc"
#include "Res/NameEditDlg.rc"
#include "Res/VersionEditDlg.rc"
#include "Res/LanguageEditDlg.rc"
#include "Res/StyleManaDlg.rc"
#include "Res/XPManifestEditDlg.rc"
#include "Res/RCDataEditDlg.rc"
#include "Res/ToolbarEditDlg.rc"
#include "Res/ResPreviewDlg.rc"
#include "Res/ResPreviewBtnDlg.rc"
#include "Res/ResPreviewCtlDlg.rc"
#include "Res/MnuPreviewDlg.rc"
#include "Res/LanguageEditChildDlg.rc"
