#define IDD_SIM52 1000
#define IDC_LSTCODE 1001
#define IDC_SBR1 1002
#define IDM_MENU 10000
#define IDM_FILE_OPEN 10001
#define IDM_FILE_EXIT 10002
#define IDM_HELP_ABOUT 10101

IDD_SIM52 DIALOGEX 6,6,597,318
CAPTION "8052 Simulator"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10CE0800
BEGIN
  CONTROL "",IDC_LSTCODE,"ListBox",0x503101C1,0,0,234,294,0x00000200
  CONTROL "IDC_SBR",IDC_SBR1,"msctls_statusbar32",0x50000003,135,306,54,15
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

