#define IDD_DIALOG 1000
#define IDC_SCREEN 1001
#define IDC_SBR1 1002
#define IDC_TBR1 1003
#define IDC_RAE1 1004
#define IDC_RAE2 1005
#define IDM_MENU 10000
#define IDM_FILE_OPEN 10003
#define IDM_FILE_SAVE 10004
#define IDM_FILE_INITCOM 10002
#define IDM_FILE_EXIT 10001
#define IDM_OPTION_COMPORT 10007
#define IDM_HELP_INSTRUCTIONSET 10008
#define IDM_HELP_HARDWARE 10009
#define IDD_DLGCOMPORT 1400
#define IDC_CHKCOMACTIVE 1401
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTCOMPORT 1402
#define IDC_CBOCOMBAUD 1404
#define IDC_CBOCOMBITS 1405
#define IDC_CBOCOMSTOP 1407
#define IDC_CHKCOMPARITY 1403
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDB_TOOLBAR 100
#define IDM_FILE_UPLOAD 10020
#define IDM_FILE_GO 10006
#define IDM_FILE_DEBUG 10010
#define IDM_FILE_REFRESH 10021
#define IDM_DEBUG_RUN 10022
#define IDM_DEBUG_STOP 10023
#define IDM_DEBUG_INTO 10024
#define IDM_DEBUG_OVER 10025
#define IDM_DEBUG_CARET 10026

IDD_DIALOG DIALOGEX 6,6,519,285
CAPTION "8051 Monitor"
FONT 9,"Tahoma",400,0,0
CLASS "DLGCLASS"
STYLE 0x16C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_SCREEN,"Static",0x50000080,0,16,414,236,0x00000200
  CONTROL "",IDC_SBR1,"msctls_statusbar32",0x50000003,3,234,0,3
  CONTROL "",IDC_TBR1,"ToolbarWindow32",0x50000101,3,0,45,9
  CONTROL "",IDC_RAE1,"RAEdit",NOT 0x10000000|0x40001906,3,18,408,231,0x00000200
  CONTROL "",IDC_RAE2,"RAEdit",0x5800183F,414,15,99,234,0x00000200
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open",IDM_FILE_OPEN
    MENUITEM "Save",IDM_FILE_SAVE
    MENUITEM "",,0x00000800
    MENUITEM "Init COM port",IDM_FILE_INITCOM
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "Com Port Setup",IDM_OPTION_COMPORT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "Instruction set",IDM_HELP_INSTRUCTIONSET
    MENUITEM "Hardware",IDM_HELP_HARDWARE
  END
END

IDD_DLGCOMPORT DIALOGEX 10,10,120,108
CAPTION "Com Port Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Com Port Active",IDC_CHKCOMACTIVE,"Button",0x50010003,3,3,111,12
  CONTROL "Port (COM1):",IDC_STATIC,"Static",0x50000000,3,21,48,9
  CONTROL "",IDC_EDTCOMPORT,"Edit",0x50010000,3,30,54,15,0x00000200
  CONTROL "Baudrate:",IDC_STATIC,"Static",0x50000000,63,21,48,9
  CONTROL "",IDC_CBOCOMBAUD,"ComboBox",0x50010003,63,30,54,60
  CONTROL "Databits:",IDC_STATIC,"Static",0x50000000,3,48,48,9
  CONTROL "",IDC_CBOCOMBITS,"ComboBox",0x50010003,3,57,54,60
  CONTROL "Stopbits:",IDC_STATIC,"Static",0x50000000,63,48,48,9
  CONTROL "",IDC_CBOCOMSTOP,"ComboBox",0x50010003,63,57,54,60
  CONTROL "Parity check",IDC_CHKCOMPARITY,"Button",0x50010003,3,72,114,12
  CONTROL "OK",IDOK,"Button",0x50010000,9,90,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,66,90,48,15
END

IDB_TOOLBAR BITMAP DISCARDABLE "Toolbar.bmp"

STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_OPEN "Open cmd or lst file"
  IDM_FILE_SAVE "Set hex output file"
  IDM_FILE_UPLOAD "Upload cmd file"
  IDM_FILE_GO "Upload cmd file and run"
  IDM_FILE_DEBUG "Toggle debug window"
  IDM_FILE_REFRESH "Refresh debug window with lst file"
  IDM_DEBUG_RUN "Debug Run"
  IDM_DEBUG_STOP "Debug Stop"
  IDM_DEBUG_INTO "Debug Step Into"
  IDM_DEBUG_OVER "Debug Step Over"
  IDM_DEBUG_CARET "Debug Run to Caret"
END

