#define IDM_MAP 11001
#define IDD_DIALOG 1000
#define IDC_MAP 1001
#define IDC_BTNZOOMIN 1002
#define IDC_BTNZOOMOUT 1003
#define IDC_EDTNORTH 1005
#define IDC_EDTEAST 1006
#define IDC_CBOGOTO 1004
#define IDC_CHKLOCK 1007
#define IDC_CHKTRAIL 1008
#define IDC_EDTDIST 1009
#define IDC_STCLAT 1010
#define IDC_STCLON 1011
#define IDC_STCDIST 1012
#define IDC_CHKPAUSE 1013
#define IDC_CHKGRID 1014
#define IDC_EDTBEAR 1015
#define IDC_STCBEAR 1016
#define IDC_SONAR 1017
#define IDC_TRBGAIN 1018
#define IDC_STCGAIN 1019
#define IDC_TRBPING 1020
#define IDC_STCPING 1021
#define IDC_TRBNOISE 1022
#define IDC_STCNOISE 1023
#define IDC_TRBRANGE 1024
#define IDC_STCRANGE 1025
#define IDC_CHKRANGE 1026
#define IDC_CHKFISHDETECT 1027
#define IDC_CHKGAIN 1028
#define IDC_CHKPING 1029
#define IDC_CHKFISHALARM 1030
#define IDC_TRBCHART 1031
#define IDC_STCCHART 1032
#define IDC_CHKCHART 1033
#define IDM_MENU 10000
#define IDM_FILE_OPENTRIP 10010
#define IDM_FILE_SAVETRIP 10011
#define IDM_FILE_OPENDIST 10014
#define IDM_FILE_SAVEDIST 10015
#define IDM_FILE_OPENTRAIL 10012
#define IDM_FILE_SAVETRAIL 10013
#define IDM_FILE_TEST 10018
#define IDM_FILE_EXIT 10001
#define IDM_LOG_START 10005
#define IDM_LOG_END 10006
#define IDM_LOG_REPLAY 10007
#define IDM_LOG_CLEARTRAIL 10017
#define IDM_LOG_STARTSONAR 10022
#define IDM_LOG_ENDSONAR 10023
#define IDM_LOG_REPLYSONAR 10024
#define IDM_OPTION_SPEED 10002
#define IDM_OPTION_BATTERY 10003
#define IDM_OPTION_AIRTEMP 10004
#define IDM_OPTION_TIME 10016
#define IDM_OPTION_SCALE 10009
#define IDM_OPTION_RANGE 10020
#define IDM_OPTIO_DEPTH 10019
#define IDM_OPTION_WATERTEMP 10021
#define IDM_OPTION_COMPORT 10008
#define IDM_CONTEXT 11000
#define IDM_EDITPLACE 11001
#define IDM_ADDPLACE 11002
#define IDM_TRIPPLANNING 11003
#define IDM_DISTANCE 11004
#define IDM_FULLSCREEN 11017
#define IDM_TRIP_DONE 11005
#define IDM_TRIP_SAVE 11006
#define IDM_TRIP_EDIT 11011
#define IDM_TRIP_CLEAR 11007
#define IDM_TRIP_INSERT 11013
#define IDM_TRIP_DELETE 11014
#define IDM_DIST_DONE 11008
#define IDM_DIST_SAVE 11009
#define IDM_DIST_EDIT 11012
#define IDM_DIST_CLEAR 11010
#define IDM_DIST_INSERT 11015
#define IDM_DIST_DELETE 11016
#define IDM_SONARCLEAR 11018
#define IDM_SONARPAUSE 11019
#define IDD_DLGADDPLACE 1100
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTNAME 1101
#define IDC_EDTLONGITUDE 1102
#define IDC_EDTLATTITUDE 1103
#define IDC_CBOFONT 1104
#define IDC_CBOICON 1105
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDC_BTNGPS 1106
#define IDC_TRBZOOM 1107
#define IDD_DLGOPTION 1200
#define IDC_CHKSHOW 1201
#define IDC_RBNLEFTTOP 1220
#define IDC_RBNCENTERTOP 1221
#define IDC_RBNRIGHTTOP 1222
#define IDC_RBNLEFTBOTTOM 1223
#define IDC_RBNCENTERBOTTOM 1224
#define IDC_RBNRIGHTBOTTOM 1225
#define IDC_BTNLEFT 1213
#define IDC_BTNUP 1210
#define IDC_BTNRIGHT 1211
#define IDC_BTNDOWN 1212
#define IDC_CBOOVLFONT 1207
#define IDD_DLGTIPLOG 1300
#define IDC_EDTFILE 1302
#define IDC_LSTFILES 1301
#define IDD_DLGCOMPORT 1400
#define IDC_CHKCOMACTIVE 1401
#define IDC_EDTCOMPORT 1402
#define IDC_CBOCOMBAUD 1404
#define IDC_CBOCOMBITS 1405
#define IDC_CBOCOMSTOP 1407
#define IDC_CHKCOMPARITY 1403
#define IDR_ACCEL 1

IDD_DIALOG DIALOGEX 6,6,567,420
CAPTION "Navigation"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x16CF0800
BEGIN
  CONTROL "",IDC_MAP,"MAPCLASS",0x56300000,0,12,402,408,0x00000208
  CONTROL "Zoom In",IDC_BTNZOOMIN,"Button",0x50010000,516,12,48,15
  CONTROL "Zoom Out",IDC_BTNZOOMOUT,"Button",0x50010000,516,33,48,15
  CONTROL "",IDC_EDTNORTH,"Static",0x50013282,513,141,51,12
  CONTROL "",IDC_EDTEAST,"Static",0x50013202,513,168,51,12
  CONTROL "",IDC_CBOGOTO,"ComboBox",0x50210103,513,111,51,72
  CONTROL "Lock to GPS",IDC_CHKLOCK,"Button",0x50010003,516,75,51,9
  CONTROL "Show Trail",IDC_CHKTRAIL,"Button",0x50010003,516,87,51,9
  CONTROL "",IDC_EDTDIST,"Static",0x50013202,513,192,51,12
  CONTROL "Lattitude:",IDC_STCLAT,"Static",0x50000000,513,129,51,9
  CONTROL "Longitude:",IDC_STCLON,"Static",0x50000000,513,156,51,9
  CONTROL "Distance:",IDC_STCDIST,"Static",0x50000000,513,183,51,9
  CONTROL "Pause Log",IDC_CHKPAUSE,"Button",0x58010003,516,63,51,9
  CONTROL "Show Grid",IDC_CHKGRID,"Button",0x50010003,516,99,51,9
  CONTROL "",IDC_EDTBEAR,"Static",0x50013202,513,216,51,12
  CONTROL "Bearing:",IDC_STCBEAR,"Static",0x50000000,513,207,51,9
  CONTROL "",IDC_SONAR,"SONARCLASS",0x56100000,405,12,105,408,0x00000200
  CONTROL "",IDC_TRBGAIN,"msctls_trackbar32",0x50000000,516,264,54,15
  CONTROL "Gain:",IDC_STCGAIN,"Static",0x50000000,516,255,51,9
  CONTROL "",IDC_TRBPING,"msctls_trackbar32",0x50000000,513,300,54,15
  CONTROL "Ping:",IDC_STCPING,"Static",0x50000000,513,291,51,9
  CONTROL "",IDC_TRBNOISE,"msctls_trackbar32",0x50000000,513,240,54,15
  CONTROL "Noise:",IDC_STCNOISE,"Static",0x50000000,513,231,51,9
  CONTROL "",IDC_TRBRANGE,"msctls_trackbar32",0x50000000,513,336,54,15
  CONTROL "Range:",IDC_STCRANGE,"Static",0x50000000,513,327,51,9
  CONTROL "Auto Range",IDC_CHKRANGE,"Button",0x50010003,516,351,51,9
  CONTROL "Fish Detect",IDC_CHKFISHDETECT,"Button",0x50010003,516,363,51,9
  CONTROL "Auto Gain",IDC_CHKGAIN,"Button",0x50010003,516,279,51,9
  CONTROL "Auto Ping",IDC_CHKPING,"Button",0x50010003,516,315,51,9
  CONTROL "Fish Alarm",IDC_CHKFISHALARM,"Button",0x50010003,516,372,51,9
  CONTROL "",IDC_TRBCHART,"msctls_trackbar32",0x50000100,516,393,54,15
  CONTROL "Chart Speed:",IDC_STCCHART,"Static",0x50000000,516,384,51,9
  CONTROL "Chart Pause",IDC_CHKCHART,"Button",0x50010003,516,408,51,9
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open Trip",IDM_FILE_OPENTRIP
    MENUITEM "Save Trip",IDM_FILE_SAVETRIP
    MENUITEM "",,0x00000800
    MENUITEM "Open Distance",IDM_FILE_OPENDIST
    MENUITEM "Save Distance",IDM_FILE_SAVEDIST
    MENUITEM "",,0x00000800
    MENUITEM "Open Trail",IDM_FILE_OPENTRAIL
    MENUITEM "Save Trail",IDM_FILE_SAVETRAIL
    MENUITEM "",,0x00000800
    MENUITEM "Test",IDM_FILE_TEST
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Log"
  BEGIN
    MENUITEM "&Start Trip Logging",IDM_LOG_START
    MENUITEM "&End Trip Logging",IDM_LOG_END
    MENUITEM "&Replay Trip Log",IDM_LOG_REPLAY
    MENUITEM "Clear Trail",IDM_LOG_CLEARTRAIL
    MENUITEM "Start Sonar Log",IDM_LOG_STARTSONAR
    MENUITEM "End Sonar Log",IDM_LOG_ENDSONAR
    MENUITEM "Reply Sonar Log",IDM_LOG_REPLYSONAR
  END
  POPUP "&Options"
  BEGIN
    POPUP "&Map Screen"
    BEGIN
      MENUITEM "&Speed",IDM_OPTION_SPEED
      MENUITEM "&Battery",IDM_OPTION_BATTERY
      MENUITEM "&Temprature",IDM_OPTION_AIRTEMP
      MENUITEM "Ti&me",IDM_OPTION_TIME
      MENUITEM "&Map Scale",IDM_OPTION_SCALE
    END
    POPUP "&Sonar Screen"
    BEGIN
      MENUITEM "&Range",IDM_OPTION_RANGE
      MENUITEM "&Depth",IDM_OPTIO_DEPTH
      MENUITEM "&Temprature",IDM_OPTION_WATERTEMP
    END
    MENUITEM "&Com Port",IDM_OPTION_COMPORT
  END
END

100 BITMAP DISCARDABLE "Res/cur.bmp"
101 CURSOR DISCARDABLE "Res/SplitV.cur"

IDM_CONTEXT MENU
BEGIN
  POPUP "Map"
  BEGIN
    MENUITEM "Edit Place",IDM_EDITPLACE
    MENUITEM "Add Place",IDM_ADDPLACE
    MENUITEM "Trip Planning",IDM_TRIPPLANNING
    MENUITEM "Measure Distance",IDM_DISTANCE
    MENUITEM "Full Screen\tCtrl+W",IDM_FULLSCREEN
  END
  POPUP "Trip"
  BEGIN
    MENUITEM "Trip Done",IDM_TRIP_DONE
    MENUITEM "Save Trip",IDM_TRIP_SAVE
    MENUITEM "Edit Trio",IDM_TRIP_EDIT
    MENUITEM SEPARATOR
    MENUITEM "Clear Trip",IDM_TRIP_CLEAR
  END
  POPUP "Trip Edit"
  BEGIN
    MENUITEM "Insert Trip Point",IDM_TRIP_INSERT
    MENUITEM "Delete Trip Point",IDM_TRIP_DELETE
  END
  POPUP "Distance"
  BEGIN
    MENUITEM "Distance Done",IDM_DIST_DONE
    MENUITEM "Save Distance",IDM_DIST_SAVE
    MENUITEM "Edit Distance",IDM_DIST_EDIT
    MENUITEM SEPARATOR
    MENUITEM "Clear Distance",IDM_DIST_CLEAR
  END
  POPUP "Distance Edit"
  BEGIN
    MENUITEM "Insert Distance Point",IDM_DIST_INSERT
    MENUITEM "Delete Distance Point",IDM_DIST_DELETE
  END
  POPUP "Sonar"
  BEGIN
    MENUITEM "Clear",IDM_SONARCLEAR
    MENUITEM "Pause",IDM_SONARPAUSE
  END
END

IDD_DLGADDPLACE DIALOGEX 10,10,150,162
CAPTION "Add / Edit Place"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000009
BEGIN
  CONTROL "Name:",IDC_STATIC,"Static",0x50000000,3,3,57,9
  CONTROL "",IDC_EDTNAME,"Edit",0x50010000,3,12,144,12,0x00000200
  CONTROL "Longitude:",IDC_STATIC,"Static",0x50000000,3,30,42,9
  CONTROL "Lattitude:",IDC_STATIC,"Static",0x50000000,51,30,42,9
  CONTROL "",IDC_EDTLONGITUDE,"Edit",0x50010002,3,39,42,12,0x00000200
  CONTROL "",IDC_EDTLATTITUDE,"Edit",0x50010002,51,39,42,12,0x00000200
  CONTROL "Font:",IDC_STATIC,"Static",0x50000000,3,54,57,9
  CONTROL "",IDC_CBOFONT,"ComboBox",0x50210203,3,66,144,63
  CONTROL "Icon:",IDC_STATIC,"Static",0x50000000,3,84,57,9
  CONTROL "",IDC_CBOICON,"ComboBox",0x50210203,3,96,144,63
  CONTROL "OK",IDOK,"Button",0x50010000,42,144,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,99,144,48,15
  CONTROL "From GPS",IDC_BTNGPS,"Button",0x50010000,99,36,48,15
  CONTROL "",IDC_TRBZOOM,"msctls_trackbar32",0x50000000,3,123,144,18
  CONTROL "Zoom level to plot name:",IDC_STATIC,"Static",0x50000000,9,114,135,9
END

IDD_DLGOPTION DIALOGEX 10,10,150,177
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Show on map screen",IDC_CHKSHOW,"Button",0x50010003,3,3,141,9
  CONTROL "Position",-1,"Button",0x50000007,3,15,144,57
  CONTROL "",IDC_RBNLEFTTOP,"Button",0x50010009,12,30,9,9
  CONTROL "",IDC_RBNCENTERTOP,"Button",0x50010009,70,30,9,9
  CONTROL "",IDC_RBNRIGHTTOP,"Button",0x50010029,129,30,9,9
  CONTROL "",IDC_RBNLEFTBOTTOM,"Button",0x50010009,12,54,9,9
  CONTROL "",IDC_RBNCENTERBOTTOM,"Button",0x50010009,70,54,9,9
  CONTROL "",IDC_RBNRIGHTBOTTOM,"Button",0x50010029,129,54,9,9
  CONTROL "Nudge Position",-1,"Button",0x50000007,3,78,141,51
  CONTROL "",IDC_BTNLEFT,"Button",0x50010040,39,96,15,15
  CONTROL "",IDC_BTNUP,"Button",0x50010040,66,87,15,15
  CONTROL "",IDC_BTNRIGHT,"Button",0x50010040,93,96,15,15
  CONTROL "",IDC_BTNDOWN,"Button",0x50010040,66,108,15,15
  CONTROL "Font:",IDC_STATIC,"Static",0x50000000,3,129,72,9
  CONTROL "",IDC_CBOOVLFONT,"ComboBox",0x50010003,3,141,141,42
  CONTROL "OK",IDOK,"Button",0x50010000,39,159,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,96,159,48,15
END

IDD_DLGTIPLOG DIALOGEX 10,10,150,123
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000009
BEGIN
  CONTROL "",IDC_EDTFILE,"Edit",0x50010000,3,87,144,15,0x00000200
  CONTROL "OK",IDOK,"Button",0x50010000,39,105,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,96,105,48,15
  CONTROL "",IDC_LSTFILES,"ListBox",0x50310143,3,3,144,81,0x00000200
END

IDD_DLGCOMPORT DIALOGEX 10,10,120,108
CAPTION "Com Port Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Com Port Active",IDC_CHKCOMACTIVE,"Button",0x50010003,3,3,111,12
  CONTROL "Port:",IDC_STATIC,"Static",0x50000000,3,21,48,9
  CONTROL "",IDC_EDTCOMPORT,"Edit",0x50010000,3,30,54,15,0x00000200
  CONTROL "Baudrate:",IDC_STATIC,"Static",0x50000000,63,21,48,9
  CONTROL "",IDC_CBOCOMBAUD,"ComboBox",0x50010003,63,30,54,60
  CONTROL "Databits:",IDC_STATIC,"Static",0x50000000,3,48,48,9
  CONTROL "",IDC_CBOCOMBITS,"ComboBox",0x50010003,3,57,54,60
  CONTROL "Stopbits:",IDC_STATIC,"Static",0x50000000,63,48,48,9
  CONTROL "",IDC_CBOCOMSTOP,"ComboBox",0x50010003,63,57,54,60
  CONTROL "Parity check",IDC_CHKCOMPARITY,"Button",0x50010003,3,72,114,12
  CONTROL "OK",IDOK,"Button",0x50010000,9,90,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,66,90,48,15
END

IDR_ACCEL ACCELERATORS
BEGIN
  87,IDM_FULLSCREEN,VIRTKEY,CONTROL,NOINVERT
  90,IDC_BTNZOOMIN,VIRTKEY,CONTROL,NOINVERT
  90,IDC_BTNZOOMOUT,VIRTKEY,CONTROL,SHIFT,NOINVERT
  39,IDC_BTNZOOMIN,VIRTKEY,CONTROL,NOINVERT
  37,IDC_BTNZOOMOUT,VIRTKEY,CONTROL,NOINVERT
END

