#define IDD_DLGRAEDIT 1000
#define IDC_RAEDIT 1001

IDD_DLGRAEDIT DIALOGEX 10,10,468,249
CAPTION "RAEdit addin demo"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_RAEDIT,"RAEdit",0x50003807,18,12,432,222,0x00000200
END

