#define IDD_DIALOG 1000
#define IDC_MAP 1001
#define IDM_MENU 10000
#define IDM_FILE_MOVRIGHT 10008
#define IDM_FILE_MOVLEFT 10011
#define IDM_FILE_MOVDOWN 10012
#define IDM_FILE_MOVUP 10013
#define IDM_FILE_RIGHT 10006
#define IDM_FILE_DOWN 10005
#define IDM_FILE_LEFTTOP 10009
#define IDM_FILE_RIGHTBOTTOM 10010
#define IDM_FILE_START 10002
#define IDM_FILE_EXIT 10001
#define IDM_SETUP_LAND 10003
#define IDM_SETUP_SEA 10004
#define IDM_SETUP_TILES 10007

IDD_DIALOG DIALOGEX 6,6,525,381
CAPTION "Grab Map"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_MAP,"FBEWEB",0x50000000,0,3,522,375
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Move Right",IDM_FILE_MOVRIGHT
    MENUITEM "Move Left",IDM_FILE_MOVLEFT
    MENUITEM "Move Down",IDM_FILE_MOVDOWN
    MENUITEM "Move Up",IDM_FILE_MOVUP
    MENUITEM "",,0x00000800
    MENUITEM "Test Right",IDM_FILE_RIGHT
    MENUITEM "Test Down",IDM_FILE_DOWN
    MENUITEM "",,0x00000800
    MENUITEM "Left, Top",IDM_FILE_LEFTTOP
    MENUITEM "Rigt, Bottom",IDM_FILE_RIGHTBOTTOM
    MENUITEM "",,0x00000800
    MENUITEM "&Start",IDM_FILE_START
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Setup"
  BEGIN
    MENUITEM "Land",IDM_SETUP_LAND
    MENUITEM "Sea",IDM_SETUP_SEA
    MENUITEM "",,0x00000800
    MENUITEM "Tiles",IDM_SETUP_TILES
  END
END

