#define IDD_DIALOG 1000
#define IDC_MAP 1001
#define IDM_MENU 10000
#define IDM_FILE_LAND 10003
#define IDM_FILE_SEA 10004
#define IDM_FILE_RIGHT 10006
#define IDM_FILE_DOWN 10005
#define IDM_FILE_LEFTTOP 10009
#define IDM_FILE_RIGHTBOTTOM 10010
#define IDM_FILE_START 10002
#define IDM_FILE_EXIT 10001

IDD_DIALOG DIALOGEX 6,6,525,381
CAPTION "Grab Map (66.53365,12.91296)"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_MAP,"FBEWEB",0x50000000,0,3,522,375
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Land",IDM_FILE_LAND
    MENUITEM "Sea",IDM_FILE_SEA
    MENUITEM "",,0x00000800
    MENUITEM "Test Right",IDM_FILE_RIGHT
    MENUITEM "Test Down",IDM_FILE_DOWN
    MENUITEM "Left, Top",IDM_FILE_LEFTTOP
    MENUITEM "Rigt, Bottom",IDM_FILE_RIGHTBOTTOM
    MENUITEM "",,0x00000800
    MENUITEM "&Start",IDM_FILE_START
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
END

