#define IDR_MENUCONTEXT 21000
#define IDM_TABTOOL 21001
#define IDM_FILE_CLOSE_ALL_BUT 21002
#define IDM_OUTPUT 21003
#define IDM_OUTPUT_CLEAR 21004
#define IDM_BROWSER 21005
#define IDM_BROWSER_OPEN 21006
#define IDM_BROWSE_COPY 21007
IDR_MENUCONTEXT MENUEX
BEGIN
  POPUP "TabTool",IDM_TABTOOL
  BEGIN
    MENUITEM "Close Tab",IDM_FILE_CLOSE
    MENUITEM "Close All Tabs",IDM_FILE_CLOSE_ALL
    MENUITEM "Close All but This",IDM_FILE_CLOSE_ALL_BUT
  END
  POPUP "Oitput",IDM_OUTPUT
  BEGIN
    MENUITEM "Clear",IDM_OUTPUT_CLEAR
  END
  POPUP "Browser",IDM_BROWSER
  BEGIN
    MENUITEM "Open",IDM_BROWSER_OPEN
    MENUITEM "Copy Name To Code",IDM_BROWSE_COPY
  END
END
