#define IDD_DIALOG 1000
#define IDC_EDTSEND 1001
#define IDC_EDTRECEIVE 1002
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_STCBYTESSENDT 1003
#define IDC_STCBYTESREC 1004
#define IDC_CHKHEX 1005
#define IDM_MENU 10000
#define IDM_FILE_TEST 10002
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101

IDD_DIALOG DIALOGEX 6,6,432,282
CAPTION "Bluetooth Explorer"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10C80800
BEGIN
  CONTROL "",IDC_EDTSEND,"Edit",0x50211044,3,15,210,252,0x00000200
  CONTROL "",IDC_EDTRECEIVE,"Edit",0x50211044,219,15,210,252,0x00000200
  CONTROL "Send:",IDC_STATIC,"Static",0x50000000,3,6,27,9
  CONTROL "Receive:",IDC_STATIC,"Static",0x50000000,219,6,33,9
  CONTROL "",IDC_STCBYTESSENDT,"Static",0x50000000,36,6,30,9
  CONTROL "",IDC_STCBYTESREC,"Static",0x50000000,258,6,30,9
  CONTROL "Show as hex",IDC_CHKHEX,"Button",0x50010003,291,3,69,12
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Test",IDM_FILE_TEST
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

