#define IDD_DIALOG 1000
#define IDC_EDTLOGG 1001
#define IDC_LSTDEVICES 1002
#define IDC_BTNSERVER 1003
#define IDC_BTNDEVICES 1004
#define IDC_BTNCLIENT 1005

IDD_DIALOG DIALOGEX 10,10,507,303
CAPTION "Bluetooth"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_EDTLOGG,"Edit",0x503100C4,201,21,303,282,0x00000200
  CONTROL "",IDC_LSTDEVICES,"ListBox",0x50010141,3,21,195,282,0x00000200
  CONTROL "Start Server",IDC_BTNSERVER,"Button",0x50010000,3,3,72,15
  CONTROL "Show Devices",IDC_BTNDEVICES,"Button",0x50010000,432,3,72,15
  CONTROL "Start Client",IDC_BTNCLIENT,"Button",0x50010000,87,3,72,15
END

