#define IDD_DIALOG 1000
#define IDC_EDTRECV 1001
#define IDC_BTNSERVER 1003
#define IDC_BTNDEVICES 1004
#define IDC_BTNCLIENT 1005
#define IDC_EDTSEND 1006
#define IDC_EDTLOG 1002

IDD_DIALOG DIALOGEX 10,10,507,303
CAPTION "Bluetooth"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_EDTRECV,"Edit",0x503108C4,0,21,303,135,0x00000200
  CONTROL "Start Server",IDC_BTNSERVER,"Button",0x50010000,3,3,72,15
  CONTROL "Show Devices",IDC_BTNDEVICES,"Button",0x50010000,432,3,72,15
  CONTROL "Start Client",IDC_BTNCLIENT,"Button",0x50010000,87,3,72,15
  CONTROL "",IDC_EDTSEND,"Edit",0x503110C4,0,168,303,135,0x00000200
  CONTROL "",IDC_EDTLOG,"Edit",0x503108C4,306,21,201,282,0x00000200
END

