#define IDD_DLGNEWPROJECTTAB2 3020
#define IDC_LSTPROJECTBUILD 1001
IDD_DLGNEWPROJECTTAB2 DIALOGEX 2,16,146,78
FONT 8,"MS Sans Serif",400,0
STYLE 0x40000000
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_LSTPROJECTBUILD,"ListBox",0x50010949,0,0,146,56,0x00000200
  CONTROL "Settings on this tab will be overridden if a temolate is selected.",1002,"Static",0x50001001,2,57,142,19,0x00000000
END
