#define IDD_DLG1 1000
#define IDC_GRP1 1001
#define baBAS 1002
#define baBI 1003
#define baFBP 1004
#define baRC 1005
#define baDOIT 1006
#define baCLOSE 1007
#define ICO_BAS 1
#define ICO_BI 2
#define ICO_FBP 3
#define ICO_RC 4
#define IDR_VERSION 1
IDD_DLG1 DIALOGEX 6,6,144,86
CAPTION "File Association"
FONT 8,"MS Sans Serif",0,0
STYLE 0x90C00800
BEGIN
  CONTROL "Files",IDC_GRP1,"Button",0x50000007,0,0,142,63
  CONTROL "*.bas - FreeBasic Source",baBAS,"Button",0x50010003,8,11,130,9
  CONTROL "*.bi    - FreeBasic Headers",baBI,"Button",0x50010003,8,24,130,9
  CONTROL "*.fbp  - FBEdit Project File",baFBP,"Button",0x50010003,8,36,130,9
  CONTROL "*.rc    - Windows Resource Scripts",baRC,"Button",0x50010003,8,49,130,8
  CONTROL "Change Association",baDOIT,"Button",0x50010000,2,66,94,17
  CONTROL "Close",baCLOSE,"Button",0x50010000,98,66,45,17
END
ICO_BAS ICON DISCARDABLE "Res/bas.ico"
ICO_BI ICON DISCARDABLE "Res/bi.ico"
ICO_FBP ICON DISCARDABLE "Res/fbp.ico"
ICO_RC ICON DISCARDABLE "Res/rc.ico"
IDR_VERSION VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "FileDescription", "File Association Changer Addin for FBEdit\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
