#define IDD_DLGCLKGEN 1000
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTFREQUENCY 1001
#define IDC_CHKACTIVE 1002
#define IDC_BTNEXPAND 1004
#define IDC_STCDIVISOR 1005
#define IDC_CBOOUT 1006

IDD_DLGCLKGEN DIALOGEX 10,10,138,84
CAPTION "Clock Generator"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Frequency (Hz):",IDC_STATIC,"Static",0x50000000,3,9,54,9
  CONTROL "1",IDC_EDTFREQUENCY,"Edit",0x50012002,81,6,51,12,0x00000200
  CONTROL ">",IDC_BTNEXPAND,"Button",0x50010000,3,21,15,12
  CONTROL "Active",IDC_CHKACTIVE,"Button",0x50010003,81,21,48,9
  CONTROL "Computer Clock",IDC_STATIC,"Static",0x50000201,3,39,60,12,0x00000001
  CONTROL "",IDC_STATIC,"Static",0x50000010,0,36,141,3
  CONTROL "",IDC_STATIC,"Static",0x50000004,27,51,3,18
  CONTROL "/1000",IDC_STCDIVISOR,"Static",0x50000281,3,69,60,12,0x00000001
  CONTROL "",IDC_STATIC,"Static",0x50000004,63,72,18,3
  CONTROL "",IDC_CBOOUT,"ComboBox",0x50210203,81,66,54,81
END

