#define IDD_MAIN 101
#define IDC_CHKAUTO 103
#define IDC_BTNSAMPLE 102
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDD_DLGFREQUENCY 1100
#define IDC_UDCFREQUENCYCHA 1101
#define IDC_UDCFREQUENCYCHB 1102
#define IDC_UDCVOLTSDVMA 1103
#define IDC_UDCVOLTSDVMB 1104
#define IDR_MENU1 10000
#define IDM_FILE 10001
#define IDM_FILE_OPEN 10002
#define IDM_FILE_OPEN_SCOPECHA 10022
#define IDM_FILE_OPEN_SCOPECHA 10023
#define IDM_FILE_SAVE 10004
#define IDM_FILE_SAVE_SCOPECHA 10024
#define IDM_FILE_SAVE_SCOPECHB 10025
#define IDM_FILE_EXIT 10006
#define IDM_VIEW 10007
#define IDM_VIEW_SCOPECHA 10008
#define IDM_VIEW_SCOPECHB 10009
#define IDM_VIEW_SCOPECHACHB 10010
#define IDM_VIEW_HSCLOCKCHA 10005
#define IDM_VIEW_HSCLOCKCHB 10026
#define IDM_VIEW_HSCLOCKCHACHB 10027
#define IDM_VIEW_LOGICANALYSER 10011
#define IDM_VIEW_DDSWAVEGEN 10003
#define IDM_SETUP 10017
#define IDM_SETUP_SCOPE 10018
#define IDM_SETUP_HIGHSPEEDCLOCK 10021
#define IDM_SETUP_LOGICANALYSER 10020
#define IDM_SETUP_DDSWAVEGEN 10012
#define IDM_HELP 10015
#define IDM_HELP_ABOUT 10016
#define IDD_DLGLOGICANALYSER 1400
#define IDC_UDCLOGICANALYSER 1401
#define IDD_DLGSCOPETOOL 1500
#define IDC_TRBXMAG 1503
#define IDC_TRBYMAG 1501
#define IDC_CHKSUBSAMPLE 1506
#define IDC_CHKPERIODS 1505
#define IDD_DLGSCOPESETUP 1200
#define IDC_RBNTRIGMANUAL 1201
#define IDC_RBNRISINGCHA 1202
#define IDC_RBNFALLINGCHA 1203
#define IDC_RBNRISINGCHB 1204
#define IDC_RBNFALLINGCHB 1205
#define IDC_RBNTRIGLGA 1206
#define IDC_RBNTRIGLGAEDGE 1207
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_TRBTRIGLEVEL 1212
#define IDC_TRBDCNULLOUTCHA 1208
#define IDC_TRBAMPLIFYCHA 1213
#define IDC_TRBDCNULLOUTCHB 1211
#define IDC_TRBAMPLIFYCHB 1215
#define IDC_CBODATABITS 1214
#define IDC_CBOSAMPLECLOCKS 1216
#define IDC_CBOCLOCKDIVISOR 1209
#define IDC_STCSAMPLERATE 1217
#define IDC_TRBBUFFERSIZE 1210
#define IDD_DLGLGATOOL 1600
#define IDC_TRBLGAXMAG 1601
#define IDD_DLGLGASETUP 1700
#define IDC_RBNLGAMANUAL 1704
#define IDC_RBNLGARISINGCHA 1705
#define IDC_RBNTRGFALLINGCHA 1706
#define IDC_RBNLGARISINGCHB 1707
#define IDC_RBNLGAFALLINGCHB 1708
#define IDC_RBNLGALGA 1709
#define IDC_RBNLGALGAEDGE 1710
#define IDC_CHKLGATRIGALL 1729
#define IDC_CHKLGATRIGD0 1720
#define IDC_CHKLGATRIGD1 1721
#define IDC_CHKLGATRIGD2 1722
#define IDC_CHKLGATRIGD3 1723
#define IDC_CHKLGATRIGD4 1724
#define IDC_CHKLGATRIGD5 1725
#define IDC_CHKLGATRIGD6 1726
#define IDC_CHKLGATRIGD7 1727
#define IDC_CHKLGAMASKALL 1739
#define IDC_CHKLGAMASKD0 1730
#define IDC_CHKLGAMASKD1 1731
#define IDC_CHKLGAMASKD2 1732
#define IDC_CHKIDC_CHKLGAMASKD3 1733
#define IDC_CHKLGAMASKD4 1734
#define IDC_CHKLGAMASKD5 1735
#define IDC_CHKLGAMASKD6 1736
#define IDC_CHKLGAMASKD7 1737
#define IDC_TRBSAMPLERATE 1701
#define IDC_STCLGASAMPLERATE 1703
#define IDC_TRBLGABUFFERSIZE 1702
#define IDD_DLGSCOPE 2000
#define IDC_UDCSCOPE 2001
#define IDD_DLGHSCLOCKSETUP 2100
#define IDC_CHKHSCLOCKAENABLE 2104
#define IDC_BTNFRQCHADN 2101
#define IDC_EDTFRQCHA 2105
#define IDC_BTNFRQCHAUP 2102
#define IDC_TRBHSCLOCKADUTY 2103
#define IDC_CHKHSCLOCKBENABLE 2113
#define IDC_BTNFRQCHBDN 2109
#define IDC_EDTFRQCHB 2108
#define IDC_BTNFRQCHBUP 2107
#define IDC_TRBHSCLOCKBDUTY 2106
#define IDD_DLGHSCLOCKTOOL 2200
#define IDC_TRBHSCLOCKXMAG 2201
#define IDD_DLGHSCLOCK 2300
#define IDC_UDCHSCLOCK 2301
#define IDD_DDSWAVE 1000
#define IDC_UDCDDSWAVE 1001
#define IDD_DDSWAVESETUP 1300
#define IDC_CBODDSWAVE 1303
#define IDC_TRBDDSAMP 1304
#define IDC_TRBDDSDCOFS 1305
#define IDC_TRBDDSFRQH 1306
#define IDC_TRBDDSFRQL 1307
#define IDC_EDTDDSFREQUENCY 1308
#define IDC_BTNDDSSET 1309
#define IDC_RBNSWEEPOFF 1310
#define IDC_RBNSWEEPUP 1311
#define IDC_RBNSWEEPDOWN 1312
#define IDC_RBNSWEEPUPDOWN 1313
#define IDC_EDTSWEEPSIZE 1315
#define IDC_EDTSWEEPTIME 1316
#define IDC_EDTSWEEPCOUNT 1317
#define IDC_BTNSWEEPSET 1318

#include "/masm32/include/RESOURCE.H"

IDD_MAIN DIALOGEX 6,6,558,354
CAPTION "STM32 Digital Oscilloscope"
FONT 8,"Tahoma",0,0,0
CLASS "MAINCLASS"
MENU IDR_MENU1
STYLE 0x16CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Auto Sample",IDC_CHKAUTO,"Button",0x50010003,501,306,54,9
  CONTROL "Sample",IDC_BTNSAMPLE,"Button",0x50010000,501,318,54,15
  CONTROL "Exit",IDCANCEL,"Button",0x50010000,501,336,54,15
END

IDD_DLGFREQUENCY DIALOGEX 0,0,471,36
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "0Hz",IDC_UDCFREQUENCYCHA,"TEXTCLASS",0x56000000,3,3,108,30,0x00020000
  CONTROL "0Hz",IDC_UDCFREQUENCYCHB,"TEXTCLASS",0x56000000,120,3,108,30,0x00020000
  CONTROL "0.000V",IDC_UDCVOLTSDVMA,"TEXTCLASS",0x56000000,237,3,108,30,0x00020000
  CONTROL "0.000V",IDC_UDCVOLTSDVMB,"TEXTCLASS",0x56000000,354,3,108,30,0x00020000
END

IDR_MENU1 MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    POPUP "&Open File",IDM_FILE_OPEN
    BEGIN
      MENUITEM "Scope CHA",IDM_FILE_OPEN_SCOPECHA
      MENUITEM "Scope CHB",IDM_FILE_OPEN_SCOPECHA
    END
    MENUITEM "",,0x00000800
    POPUP "&Save File",IDM_FILE_SAVE
    BEGIN
      MENUITEM "Scope CHA",IDM_FILE_SAVE_SCOPECHA
      MENUITEM "Scope CHB",IDM_FILE_SAVE_SCOPECHB
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    MENUITEM "Scope CH&A",IDM_VIEW_SCOPECHA
    MENUITEM "Scope CH&B",IDM_VIEW_SCOPECHB
    MENUITEM "&Scope CHA+CHB",IDM_VIEW_SCOPECHACHB
    MENUITEM "&High Speed Clock CHA",IDM_VIEW_HSCLOCKCHA
    MENUITEM "&High Speed Clock CHB",IDM_VIEW_HSCLOCKCHB
    MENUITEM "&High Speed Clock CHA+CHB",IDM_VIEW_HSCLOCKCHACHB
    MENUITEM "&Logic Analyser",IDM_VIEW_LOGICANALYSER
    MENUITEM "&DDS Wave Generator",IDM_VIEW_DDSWAVEGEN
  END
  POPUP "&Setup",IDM_SETUP
  BEGIN
    MENUITEM "&Scope",IDM_SETUP_SCOPE
    MENUITEM "&High Speed Clock",IDM_SETUP_HIGHSPEEDCLOCK
    MENUITEM "&Logic Analyser",IDM_SETUP_LOGICANALYSER
    MENUITEM "&DDS Wave Generator",IDM_SETUP_DDSWAVEGEN
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

IDD_DLGLOGICANALYSER DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCLOGICANALYSER,"LOGICANALYSERCLASS",0x50100000,0,0,417,273,0x00000200
END

IDD_DLGSCOPETOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
  CONTROL "Y-Magnify",-1,"Button",0x50000007,3,36,84,36
  CONTROL "",IDC_TRBYMAG,"msctls_trackbar32",0x50010008,6,48,78,21
  CONTROL "Subsampling",IDC_CHKSUBSAMPLE,"Button",0x50010003,9,81,69,12
  CONTROL "Show 2 periods",IDC_CHKPERIODS,"Button",0x50010003,9,93,69,12
END

IDD_DLGSCOPESETUP DIALOGEX 10,10,246,228
CAPTION "Scope Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Trigger",-1,"Button",0x50000007,3,0,240,120
  CONTROL "Manual",IDC_RBNTRIGMANUAL,"Button",0x50010009,9,15,63,9
  CONTROL "Rising edge CHA",IDC_RBNRISINGCHA,"Button",0x50010009,9,27,69,7
  CONTROL "Falling edge CHA",IDC_RBNFALLINGCHA,"Button",0x50010009,9,39,69,9
  CONTROL "Rising edge CHB",IDC_RBNRISINGCHB,"Button",0x50010009,9,51,69,9
  CONTROL "Falling edge CHB",IDC_RBNFALLINGCHB,"Button",0x50010009,9,66,69,9
  CONTROL "LGA",IDC_RBNTRIGLGA,"Button",0x50010009,9,78,69,9
  CONTROL "LGA Edge",IDC_RBNTRIGLGAEDGE,"Button",0x50010009,9,93,69,9
  CONTROL "",IDC_STATIC,"Static",0x50000011,81,6,3,111
  CONTROL "Trigger Level",IDC_STATIC,"Static",0x50000000,90,9,63,9
  CONTROL "",IDC_TRBTRIGLEVEL,"msctls_trackbar32",0x50010108,84,21,153,24
  CONTROL "DC Offset CHA",IDC_STATIC,"Static",0x50000000,90,48,63,9
  CONTROL "",IDC_TRBDCNULLOUTCHA,"msctls_trackbar32",0x50010108,84,57,75,24
  CONTROL "Amplification CHA",IDC_STATIC,"Static",0x50000000,90,84,63,9
  CONTROL "",IDC_TRBAMPLIFYCHA,"msctls_trackbar32",0x50010108,84,93,75,24
  CONTROL "",IDC_STATIC,"Static",0x50000011,159,45,3,72
  CONTROL "DC Offset CHB",IDC_STATIC,"Static",0x50000000,168,48,63,9
  CONTROL "",IDC_TRBDCNULLOUTCHB,"msctls_trackbar32",0x50010108,162,57,75,24
  CONTROL "Amplification CHB",IDC_STATIC,"Static",0x50000000,168,84,63,9
  CONTROL "",IDC_TRBAMPLIFYCHB,"msctls_trackbar32",0x50010108,162,93,75,24
  CONTROL "Sampling",-1,"Button",0x50000007,3,120,237,48
  CONTROL "Databits",IDC_STATIC,"Static",0x50000000,12,132,48,9
  CONTROL "",IDC_CBODATABITS,"ComboBox",0x50010003,9,144,48,66
  CONTROL "Sampleclocks",IDC_STATIC,"Static",0x50000000,66,132,48,9
  CONTROL "",IDC_CBOSAMPLECLOCKS,"ComboBox",0x50210003,63,144,48,66
  CONTROL "Clockdivisor",IDC_STATIC,"Static",0x50000000,120,132,48,9
  CONTROL "",IDC_CBOCLOCKDIVISOR,"ComboBox",0x50010003,117,144,48,66
  CONTROL "Sample rate",IDC_STATIC,"Static",0x50000000,171,132,48,9
  CONTROL "",IDC_STCSAMPLERATE,"Static",0x50000002,168,144,66,12,0x00000200
  CONTROL "Buffer Size",-1,"Button",0x50000007,3,168,240,36
  CONTROL "",IDC_TRBBUFFERSIZE,"msctls_trackbar32",0x50010108,6,177,231,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,186,210,54,15
END

IDD_DLGLGATOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50080000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBLGAXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
END

IDD_DLGLGASETUP DIALOGEX 10,10,249,159
CAPTION "Logic Analyser Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Trigger Select",-1,"Button",0x50000007,3,0,81,99
  CONTROL "Manual",IDC_RBNLGAMANUAL,"Button",0x50010009,9,12,63,9
  CONTROL "Rising edge CHA",IDC_RBNLGARISINGCHA,"Button",0x50010009,9,24,69,9
  CONTROL "Falling edge CHA",IDC_RBNTRGFALLINGCHA,"Button",0x50010009,9,36,69,9
  CONTROL "Rising edge CHB",IDC_RBNLGARISINGCHB,"Button",0x50010009,9,48,69,9
  CONTROL "Falling edge CHB",IDC_RBNLGAFALLINGCHB,"Button",0x50010009,9,60,69,9
  CONTROL "",IDC_STATIC,"Static",0x50000010,6,72,72,0
  CONTROL "LGA",IDC_RBNLGALGA,"Button",0x50010009,9,75,69,9
  CONTROL "LGA Edge",IDC_RBNLGALGAEDGE,"Button",0x50010009,9,87,69,9
  CONTROL "Trigger Value",-1,"Button",0x50000007,87,0,78,99
  CONTROL "Clear / Set all",IDC_CHKLGATRIGALL,"Button",0x50010023,93,12,57,9
  CONTROL "D0",IDC_CHKLGATRIGD0,"Button",0x50010023,138,24,21,9
  CONTROL "D1",IDC_CHKLGATRIGD1,"Button",0x50010023,138,33,21,9
  CONTROL "D2",IDC_CHKLGATRIGD2,"Button",0x50010023,138,42,21,9
  CONTROL "D3",IDC_CHKLGATRIGD3,"Button",0x50010023,138,51,21,9
  CONTROL "D4",IDC_CHKLGATRIGD4,"Button",0x50010023,138,60,21,9
  CONTROL "D5",IDC_CHKLGATRIGD5,"Button",0x50010023,138,69,21,9
  CONTROL "D6",IDC_CHKLGATRIGD6,"Button",0x50010023,138,78,21,9
  CONTROL "D7",IDC_CHKLGATRIGD7,"Button",0x50010023,138,87,21,9
  CONTROL "Trigger Mask",-1,"Button",0x50000007,168,0,78,99
  CONTROL "Clear / Set all",IDC_CHKLGAMASKALL,"Button",0x50010023,174,12,57,9
  CONTROL "D0",IDC_CHKLGAMASKD0,"Button",0x50010023,219,24,21,9
  CONTROL "D1",IDC_CHKLGAMASKD1,"Button",0x50010023,219,33,21,9
  CONTROL "D2",IDC_CHKLGAMASKD2,"Button",0x50010023,219,42,21,9
  CONTROL "D3",IDC_CHKIDC_CHKLGAMASKD3,"Button",0x50010023,219,51,21,9
  CONTROL "D4",IDC_CHKLGAMASKD4,"Button",0x50010023,219,60,21,9
  CONTROL "D5",IDC_CHKLGAMASKD5,"Button",0x50010023,219,69,21,9
  CONTROL "D6",IDC_CHKLGAMASKD6,"Button",0x50010023,219,78,21,9
  CONTROL "D7",IDC_CHKLGAMASKD7,"Button",0x50010023,219,87,21,9
  CONTROL "Sample Rate",-1,"Button",0x50000007,3,99,120,51
  CONTROL "",IDC_TRBSAMPLERATE,"msctls_trackbar32",0x50010108,6,108,114,21
  CONTROL "",IDC_STCLGASAMPLERATE,"Static",0x50000002,9,132,108,12,0x00000200
  CONTROL "Buffer Size",-1,"Button",0x50000007,126,99,120,36
  CONTROL "",IDC_TRBLGABUFFERSIZE,"msctls_trackbar32",0x50010108,129,108,114,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,189,141,54,15
END

IDD_DLGSCOPE DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCSCOPE,"SCOPECLASS",0x50300000,0,0,417,273,0x00000200
END

IDD_DLGHSCLOCKSETUP DIALOGEX 10,10,297,114
CAPTION "High Speed Clock Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "High Speed Clock CHA",-1,"Button",0x50000007,3,3,144,90
  CONTROL "Enable Output",IDC_CHKHSCLOCKAENABLE,"Button",0x50010003,9,15,132,9
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,6,30,42,9
  CONTROL "<",IDC_BTNFRQCHADN,"Button",0x50010000,9,42,18,15
  CONTROL "1000",IDC_EDTFRQCHA,"Edit",0x50012001,30,42,93,15,0x00000200
  CONTROL ">",IDC_BTNFRQCHAUP,"Button",0x50010000,126,42,18,15
  CONTROL "Pulse Width:",IDC_STATIC,"Static",0x50000000,6,60,42,9
  CONTROL "",IDC_TRBHSCLOCKADUTY,"msctls_trackbar32",0x50010508,6,69,138,21
  CONTROL "High Speed Clock CHB",-1,"Button",0x50000007,150,3,144,90
  CONTROL "Enable Output",IDC_CHKHSCLOCKBENABLE,"Button",0x50010003,156,15,132,9
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,153,30,42,9
  CONTROL "<",IDC_BTNFRQCHBDN,"Button",0x50010000,156,42,18,15
  CONTROL "1000",IDC_EDTFRQCHB,"Edit",0x50012001,177,42,93,15,0x00000200
  CONTROL ">",IDC_BTNFRQCHBUP,"Button",0x50010000,273,42,18,15
  CONTROL "Pulse Width:",IDC_STATIC,"Static",0x50000000,153,60,42,9
  CONTROL "",IDC_TRBHSCLOCKBDUTY,"msctls_trackbar32",0x50010508,153,69,138,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,237,96,54,15
END

IDD_DLGHSCLOCKTOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBHSCLOCKXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
END

IDD_DLGHSCLOCK DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCHSCLOCK,"HSCLOCKCLASS",0x50100000,0,0,417,273,0x00000200
END

IDD_DDSWAVE DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "",IDC_UDCDDSWAVE,"DDSWAVECLASS",0x50000000,3,3,414,270,0x00000200
END

IDD_DDSWAVESETUP DIALOGEX 0,0,210,222
CAPTION "DDS Wave Generator Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Wave Form",-1,"Button",0x50000007,3,0,204,33
  CONTROL "",IDC_CBODDSWAVE,"ComboBox",0x50210003,9,12,192,102
  CONTROL "Amplitude",-1,"Button",0x50000007,3,33,204,63
  CONTROL "Amplitude:",IDC_STATIC,"Static",0x50000000,9,54,36,9
  CONTROL "",IDC_TRBDDSAMP,"msctls_trackbar32",0x50010508,45,45,159,21
  CONTROL "DC Offset:",IDC_STATIC,"Static",0x50000000,9,78,36,9
  CONTROL "",IDC_TRBDDSDCOFS,"msctls_trackbar32",0x50010508,45,69,159,21
  CONTROL "Frequency",-1,"Button",0x50000007,3,96,204,54
  CONTROL "",IDC_TRBDDSFRQH,"msctls_trackbar32",0x50010108,9,108,93,21
  CONTROL "",IDC_TRBDDSFRQL,"msctls_trackbar32",0x50010108,108,108,93,21
  CONTROL "Frequency (Hz):",IDC_STATIC,"Static",0x50000000,63,135,54,9
  CONTROL "",IDC_EDTDDSFREQUENCY,"Edit",0x50012002,117,132,51,12,0x00000200
  CONTROL "Set",IDC_BTNDDSSET,"Button",0x58010000,171,132,30,12
  CONTROL "Sweep",-1,"Button",0x50000007,3,150,204,51
  CONTROL "Off",IDC_RBNSWEEPOFF,"Button",0x50010009,9,162,24,9
  CONTROL "Up",IDC_RBNSWEEPUP,"Button",0x50010009,33,162,27,9
  CONTROL "Down",IDC_RBNSWEEPDOWN,"Button",0x50010009,60,162,36,9
  CONTROL "Up && Down",IDC_RBNSWEEPUPDOWN,"Button",0x50010009,96,162,51,9
  CONTROL "Step size (Hz):",IDC_STATIC,"Static",0x50000000,9,174,48,9
  CONTROL "",IDC_EDTSWEEPSIZE,"Edit",0x50012002,9,183,51,12,0x00000200
  CONTROL "Step Time (ms):",IDC_STATIC,"Static",0x50000000,63,174,54,9
  CONTROL "",IDC_EDTSWEEPTIME,"Edit",0x50012002,63,183,51,12,0x00000200
  CONTROL "Step count:",IDC_STATIC,"Static",0x50000000,117,174,48,9
  CONTROL "",IDC_EDTSWEEPCOUNT,"Edit",0x50012002,117,183,51,12,0x00000200
  CONTROL "Set",IDC_BTNSWEEPSET,"Button",0x58010000,171,183,30,12
  CONTROL "Close",IDCANCEL,"Button",0x50010000,150,204,54,15
END

