#define IDD_MAIN 101
#define IDC_BTNMODE 105
#define IDD_DLGSCOPECLD 2000
#define IDC_UDCSCPSCRN 2001
#define IDD_DLGLCMETER 1000
#define IDC_UDCLCM 1001
#define IDC_BTNLCMCAL 1002
#define IDC_BTNLCMMODE 1003
#define IDD_DLGHSC 1100
#define IDC_UDCHSC 1101
#define IDC_BTNHSCUP 1103
#define IDC_BTNHSCDN 1102
#define IDC_EDTHSCFRQ 1104
#define IDD_DLGSCOPE 1200
#define IDC_UDCSCP 1201
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_TRBADCCLOCK 1202
#define IDC_TRBADCDELAY 1203
#define IDC_STCADCSAMPLERATE 1204
#define IDC_TRBTIMEDIV 1205
#define IDC_TRBVOLTDIV 1206
#define IDC_RBNTRIGGERNONE 1207
#define IDC_RBNTRIGGERRISING 1208
#define IDC_RBNTRIGGERFALLING 1209
#define IDC_TRBTRIGGERLEVEL 1210

IDD_MAIN DIALOGEX 6,6,702,354
CAPTION "LC Meter"
FONT 8,"Tahoma",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Connect",1,"Button",0x50010000,486,336,48,13
  CONTROL "Exit",2,"Button",0x50010000,648,336,48,13
  CONTROL "Mode",IDC_BTNMODE,"Button",0x50010000,594,336,48,13
END

IDD_DLGSCOPECLD DIALOGEX 0,0,471,357
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56080000
BEGIN
  CONTROL "",IDC_UDCSCPSCRN,"SCOPECLASS",0x50000000,0,0,468,354,0x00000200
END

IDD_DLGLCMETER DIALOGEX 490,0,213,102
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56080000
BEGIN
  CONTROL "0pF",IDC_UDCLCM,"FREQUENCYCLASS",0x50000000,0,0,210,78,0x00000200
  CONTROL "Calibrate",IDC_BTNLCMCAL,"Button",0x50010000,0,84,48,13
  CONTROL "Mode",IDC_BTNLCMMODE,"Button",0x50010000,159,84,48,13
END

IDD_DLGHSC DIALOGEX 490,0,213,105
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "0Hz",IDC_UDCHSC,"FREQUENCYCLASS",0x50000000,0,0,210,78,0x00000200
  CONTROL ">",IDC_BTNHSCUP,"Button",0x50010000,183,81,21,18
  CONTROL "<",IDC_BTNHSCDN,"Button",0x50010000,6,81,21,18
  CONTROL "",IDC_EDTHSCFRQ,"Edit",0x50010001,48,81,114,15,0x00000200
END

IDD_DLGSCOPE DIALOGEX 490,0,213,276
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCSCP,"FREQUENCYCLASS",0x50000000,0,0,210,78,0x00000200
  CONTROL "ADC Clock",IDC_STATIC,"Static",0x50000000,3,84,45,12
  CONTROL "ADC Delay",IDC_STATIC,"Static",0x50000000,3,111,45,12
  CONTROL "",IDC_TRBADCCLOCK,"msctls_trackbar32",0x50000000,3,93,204,18
  CONTROL "",IDC_TRBADCDELAY,"msctls_trackbar32",0x50000000,3,123,204,18
  CONTROL "Sample Rate",IDC_STATIC,"Static",0x50000000,3,141,45,12
  CONTROL "",IDC_STCADCSAMPLERATE,"Static",0x50000001,60,141,147,12
  CONTROL "",IDC_TRBTIMEDIV,"msctls_trackbar32",0x50000000,3,168,204,18
  CONTROL "Time / Div",IDC_STATIC,"Static",0x50000000,3,156,45,12
  CONTROL "",IDC_TRBVOLTDIV,"msctls_trackbar32",0x50000000,3,198,204,18
  CONTROL "Volts / Div",IDC_STATIC,"Static",0x50000000,3,186,45,12
  CONTROL "Trigger Edge",IDC_STATIC,"Static",0x50000000,3,216,45,12
  CONTROL "None",IDC_RBNTRIGGERNONE,"Button",0x50030009,3,228,51,12
  CONTROL "Risung",IDC_RBNTRIGGERRISING,"Button",0x50010009,69,228,51,12
  CONTROL "Falling",IDC_RBNTRIGGERFALLING,"Button",0x50010009,132,228,51,12
  CONTROL "",IDC_TRBTRIGGERLEVEL,"msctls_trackbar32",0x50000000,3,255,204,18
  CONTROL "Trigger Level",IDC_STATIC,"Static",0x50000000,3,243,45,12
END

