#define IDD_MAIN 101
#define IDC_TABFUNCTION 102
#define IDC_IMGCONNECTED 103
#define IDD_DLGSCOPECLD 2000
#define IDC_UDCSCPSCRN 2001
#define IDD_DLGDDSCLD 3000
#define IDC_UDCDDSSCRN 3001
#define IDD_DLGLCMETER 1000
#define IDC_UDCLCM 1001
#define IDC_BTNLCMCAL 1002
#define IDC_BTNLCMMODE 1003
#define IDD_DLGHSC 1100
#define IDC_UDCHSC 1101
#define IDC_EDTHSCFRQ 1104
#define IDC_BTNHSCDN 1102
#define IDC_BTNHSCUP 1103
#define IDD_DLGSCOPE 1200
#define IDC_UDCSCP 1201
#define IDC_BTNSRD 1214
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_BTNSRU 1215
#define IDC_TRBADCCLOCK 1202
#define IDC_TRBADCDELAY 1203
#define IDC_STCADCSAMPLERATE 1204
#define IDC_TRBTIMEDIV 1205
#define IDC_TRBVOLTDIV 1206
#define IDC_RBNTRIGGERNONE 1207
#define IDC_RBNTRIGGERRISING 1208
#define IDC_RBNTRIGGERFALLING 1209
#define IDC_TRBTRIGGERLEVEL 1210
#define IDC_CHKSUBSAMPLING 1211
#define IDC_CHKHOLDSAMPLING 1212
#define IDC_TRBVPOS 1213
#define IDC_BTNADU 1216
#define IDC_BTNADD 1217
#define IDC_BTNTDU 1218
#define IDC_BTNTDD 1219
#define IDC_BTNVDU 1220
#define IDC_BTNVDD 1221
#define IDC_BTNVPU 1222
#define IDC_BTNVPD 1223
#define IDC_BTNTLU 1224
#define IDC_BTNTLD 1225
#define IDC_CHKTRIPLE 1226
#define IDC_BTNAUTO 1227
#define IDC_STCSAMPLESIZE 1228
#define IDB_CUR 100
#define IDD_DLGDDS 1300
#define IDC_BTNDDSFRQUP 1304
#define IDC_BTNDDSFRQDN 1302
#define IDC_EDTDDSFRQ 1303
#define IDC_UDCDDSFRQ 1301
#define IDC_BTNDDSWAVEUP 1307
#define IDC_BTNDDSWAVEDN 1305
#define IDC_STCDDSWAVE 1306
#define IDC_BTNDDSAMPUP 1308
#define IDC_BTNDDSAMPDN 1309
#define IDC_TRBDDSAMP 1310
#define IDC_BTNDDSOFSUP 1311
#define IDC_TRBDDSOFS 1312
#define IDC_BTNDDSOFSDN 1313
#define IDC_GRPSWEEP 1314
#define IDC_RBNSWEEPOFF 1315
#define IDC_RBNSWEEPUP 1316
#define IDC_RBNSWEEPDOWN 1317
#define IDC_RBNSWEEPUPDOWN 1318
#define IDC_BTNDDSSWEEPUP 1319
#define IDC_EDTDDSSWEEP 1320
#define IDC_BTNDDSSWEEPDN 1321
#define IDC_BTNSWEEPRNGUP 1322
#define IDC_EDTSWEEPRANGE 1323
#define IDC_BTNSWEEPRNGDN 1324
#define IDC_BTNSWEEPTIMEUP 1325
#define IDC_BTNSWEEPTIMEDN 1326
#define IDC_EDTSWEEPSTEPTIME 1327
#define IDD_DLGLGACLD 4000
#define IDC_UDCLGASCRN 4001
#define IDD_DLGLGA 1400
#define IDC_BTNSRUP 1401
#define IDC_TRBSR 1402
#define IDC_BTNSRDN 1403
#define IDC_STCSR 1410
#define IDC_BTNBSUP 1404
#define IDC_TRBBS 1405
#define IDC_BTNBSDN 1406
#define IDC_STCBS 1415
#define IDC_CHKLGATRIGALL 1429
#define IDC_CHKLGATRIGD0 1420
#define IDC_CHKLGATRIGD1 1421
#define IDC_CHKLGATRIGD2 1422
#define IDC_CHKLGATRIGD3 1423
#define IDC_CHKLGATRIGD4 1424
#define IDC_CHKLGATRIGD5 1425
#define IDC_CHKLGATRIGD6 1426
#define IDC_CHKLGATRIGD7 1427
#define IDC_CHKLGAMASKALL 1439
#define IDC_CHKLGAMASKD0 1430
#define IDC_CHKLGAMASKD1 1431
#define IDC_CHKLGAMASKD2 1432
#define IDC_CHKLGAMASKD3 1433
#define IDC_CHKLGAMASKD4 1434
#define IDC_CHKLGAMASKD5 1435
#define IDC_CHKLGAMASKD6 1436
#define IDC_CHKLGAMASKD7 1437
#define IDC_BTNLGASAMPLE 1407
#define IDC_BTNTRGNEXT 1408
#define IDC_BTNTRGPREVIOUS 1409
#define IDD_DLGMAKEWAVECLD 5000
#define IDC_UDCMAKEWAVE 5001
#define IDD_DLGMAKEWAVE 1500
#define IDC_RBNMAIN 1501
#define IDC_RBNHARMONIC 1502
#define IDC_RBNNOISE 1503
#define IDC_RBNRESULT 1504
#define IDC_BTNMADN 1506
#define IDC_TRBMA 1507
#define IDC_BTNMAUP 1508
#define IDC_BTN2HADN 1509
#define IDC_TRB2HA 1510
#define IDC_BTN2HAUP 1511
#define IDC_BTN3HADN 1513
#define IDC_TRB3HA 1514
#define IDC_BTN3HAUP 1515
#define IDC_BTN4HADN 1517
#define IDC_TRB4HA 1518
#define IDC_BTN4HAUP 1519
#define IDC_BTNNADN 1521
#define IDC_TRBNA 1522
#define IDC_BTNNAUP 1523
#define IDC_BTNNFDN 1512
#define IDC_TRBNF 1516
#define IDC_BTNNFUP 1520
#define IDC_RBNMAINSINE 1524
#define IDC_RBNMAINTRIANGLE 1525
#define IDC_RBNMAINSQUARE 1526
#define IDC_RBNHARMONICSINE 1527
#define IDC_RBNHARMONICTRIANGLE 1528
#define IDC_RBNHARMONICSQUARE 1529

IDD_MAIN DIALOGEX 6,6,723,408
CAPTION "LC Meter"
FONT 8,"Tahoma",0,0,0
STYLE 0x16C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Connect",1,"Button",0x50010000,477,390,48,13
  CONTROL "Exit",2,"Button",0x50010000,672,390,48,13
  CONTROL "",IDC_TABFUNCTION,"SysTabControl32",0x50018000,474,0,249,15
  CONTROL "",IDC_IMGCONNECTED,"Static",0x50000203,453,3,12,10
END

IDD_DLGSCOPECLD DIALOGEX 0,18,471,393
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56080000
BEGIN
  CONTROL "",IDC_UDCSCPSCRN,"SCOPECLASS",0x56300000,0,0,468,390,0x00000200
END

IDD_DLGDDSCLD DIALOGEX 0,18,471,393
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCDDSSCRN,"DDSCLASS",0x56000000,0,0,468,390,0x00000200
END

IDD_DLGLCMETER DIALOGEX 475,18,222,102
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56080000
BEGIN
  CONTROL "0pF",IDC_UDCLCM,"FREQUENCYCLASS",0x50000000,0,0,222,78,0x00000200
  CONTROL "Calibrate",IDC_BTNLCMCAL,"Button",0x50010000,0,84,48,13
  CONTROL "Mode",IDC_BTNLCMMODE,"Button",0x50010000,174,84,48,13
END

IDD_DLGHSC DIALOGEX 475,18,222,105
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "0Hz",IDC_UDCHSC,"FREQUENCYCLASS",0x50000000,0,0,222,78,0x00000200
  CONTROL "",IDC_EDTHSCFRQ,"Edit",0x50010001,57,81,114,15,0x00000200
  CONTROL "",IDC_BTNHSCDN,"Button",0x50010040,3,81,18,15
  CONTROL "",IDC_BTNHSCUP,"Button",0x50010040,204,81,18,15
END

IDD_DLGSCOPE DIALOGEX 475,18,222,369
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCSCP,"FREQUENCYCLASS",0x50000000,0,0,222,78,0x00000200
  CONTROL "",IDC_BTNSRD,"Button",0x50010040,3,96,18,15
  CONTROL "ADC Clock",IDC_STATIC,"Static",0x50000000,3,81,45,12
  CONTROL "",IDC_BTNSRU,"Button",0x50010040,204,93,18,15
  CONTROL "ADC Delay",IDC_STATIC,"Static",0x50000000,3,114,45,12
  CONTROL "",IDC_TRBADCCLOCK,"msctls_trackbar32",0x50000000,24,93,177,18
  CONTROL "",IDC_TRBADCDELAY,"msctls_trackbar32",0x50000000,24,126,177,18
  CONTROL "Sample Rate",IDC_STATIC,"Static",0x50000000,3,147,45,12
  CONTROL "",IDC_STCADCSAMPLERATE,"Static",0x50000001,60,147,147,12
  CONTROL "",IDC_TRBTIMEDIV,"msctls_trackbar32",0x50000000,24,174,177,18
  CONTROL "Time / Div",IDC_STATIC,"Static",0x50000000,3,162,45,12
  CONTROL "",IDC_TRBVOLTDIV,"msctls_trackbar32",0x50000000,24,207,177,18
  CONTROL "Volts / Div",IDC_STATIC,"Static",0x50000000,3,195,45,12
  CONTROL "Trigger Edge",IDC_STATIC,"Static",0x50000000,3,267,45,12
  CONTROL "None",IDC_RBNTRIGGERNONE,"Button",0x50030009,3,279,51,12
  CONTROL "Risung",IDC_RBNTRIGGERRISING,"Button",0x50010009,69,279,51,12
  CONTROL "Falling",IDC_RBNTRIGGERFALLING,"Button",0x50010009,132,279,51,12
  CONTROL "",IDC_TRBTRIGGERLEVEL,"msctls_trackbar32",0x50000000,24,306,177,18
  CONTROL "Trigger Level",IDC_STATIC,"Static",0x50000000,3,294,45,12
  CONTROL "Sub Sampling",IDC_CHKSUBSAMPLING,"Button",0x50010003,6,327,60,12
  CONTROL "Hold Sampling",IDC_CHKHOLDSAMPLING,"Button",0x50010003,138,330,60,12
  CONTROL "V-Pos",IDC_STATIC,"Static",0x50000000,3,231,45,12
  CONTROL "",IDC_TRBVPOS,"msctls_trackbar32",0x50000000,24,243,177,18
  CONTROL "",IDC_BTNADU,"Button",0x50010040,204,126,18,15
  CONTROL "",IDC_BTNADD,"Button",0x50010040,3,129,18,15
  CONTROL "",IDC_BTNTDU,"Button",0x50010040,204,174,18,15
  CONTROL "",IDC_BTNTDD,"Button",0x50010040,3,177,18,15
  CONTROL "",IDC_BTNVDU,"Button",0x50010040,204,207,18,15
  CONTROL "",IDC_BTNVDD,"Button",0x50010040,6,210,18,15
  CONTROL "",IDC_BTNVPU,"Button",0x50010040,204,243,18,15
  CONTROL "",IDC_BTNVPD,"Button",0x50010040,3,246,18,15
  CONTROL "",IDC_BTNTLU,"Button",0x50010040,204,306,18,15
  CONTROL "",IDC_BTNTLD,"Button",0x50010040,3,309,18,15
  CONTROL "Triple ADC",IDC_CHKTRIPLE,"Button",0x50010003,156,78,51,12
  CONTROL "Auto",IDC_BTNAUTO,"Button",0x50010000,3,345,48,13
  CONTROL "Sample Size:",IDC_STCSAMPLESIZE,"Static",0x50000000,99,345,120,12
END

IDB_CUR BITMAP DISCARDABLE "Res/cur.bmp"

IDD_DLGDDS DIALOGEX 475,18,222,369
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x40080000
BEGIN
  CONTROL "",IDC_BTNDDSFRQUP,"Button",0x50010040,204,111,18,15
  CONTROL "",IDC_BTNDDSFRQDN,"Button",0x50010040,3,111,18,15
  CONTROL "",IDC_EDTDDSFRQ,"Edit",0x50012001,57,111,114,15,0x00000200
  CONTROL "0Hz",IDC_UDCDDSFRQ,"FREQUENCYCLASS",0x50000000,0,0,222,78,0x00000200
  CONTROL "",IDC_BTNDDSWAVEUP,"Button",0x50010040,204,81,18,15
  CONTROL "",IDC_BTNDDSWAVEDN,"Button",0x50010040,3,81,18,15
  CONTROL "",IDC_STCDDSWAVE,"Static",0x50000001,57,81,114,12
  CONTROL "",IDC_BTNDDSAMPUP,"Button",0x50010040,204,147,18,15
  CONTROL "",IDC_BTNDDSAMPDN,"Button",0x50010040,3,147,18,15
  CONTROL "",IDC_TRBDDSAMP,"msctls_trackbar32",0x50000000,24,144,174,18
  CONTROL "",IDC_BTNDDSOFSUP,"Button",0x50010040,204,186,18,15
  CONTROL "",IDC_TRBDDSOFS,"msctls_trackbar32",0x50000000,24,183,177,18
  CONTROL "",IDC_BTNDDSOFSDN,"Button",0x50010040,3,186,18,15
  CONTROL "Amplitude",IDC_STATIC,"Static",0x50000000,3,132,45,12
  CONTROL "DC Offset",IDC_STATIC,"Static",0x50000000,3,171,45,12
  CONTROL "Frequency (Hz)",IDC_STATIC,"Static",0x50000000,3,99,51,12
  CONTROL "Sweep",IDC_GRPSWEEP,"Button",0x50000007,3,210,219,129
  CONTROL "Off",IDC_RBNSWEEPOFF,"Button",0x50030009,12,222,51,9
  CONTROL "Up",IDC_RBNSWEEPUP,"Button",0x50010009,63,222,51,9
  CONTROL "Down",IDC_RBNSWEEPDOWN,"Button",0x50010009,114,222,51,9
  CONTROL "Up / Down",IDC_RBNSWEEPUPDOWN,"Button",0x50010009,165,222,51,9
  CONTROL "",IDC_BTNDDSSWEEPUP,"Button",0x50010040,198,249,18,15
  CONTROL "",IDC_EDTDDSSWEEP,"Edit",0x50012001,54,249,114,15,0x00000200
  CONTROL "",IDC_BTNDDSSWEEPDN,"Button",0x50010040,9,249,18,15
  CONTROL "Frequency Step (Hz)",IDC_STATIC,"Static",0x50000000,9,237,75,12
  CONTROL "",IDC_BTNSWEEPRNGUP,"Button",0x50010040,198,279,18,15
  CONTROL "",IDC_EDTSWEEPRANGE,"Edit",0x50012001,54,279,114,15,0x00000200
  CONTROL "",IDC_BTNSWEEPRNGDN,"Button",0x50010040,9,279,18,15
  CONTROL "Frequency Sweep  Range (Hz)",IDC_STATIC,"Static",0x50000000,9,267,111,12
  CONTROL "",IDC_BTNSWEEPTIMEUP,"Button",0x50010040,198,312,18,15
  CONTROL "",IDC_BTNSWEEPTIMEDN,"Button",0x50010040,9,312,18,15
  CONTROL "Stem Time (mS)",IDC_STATIC,"Static",0x50000000,9,297,75,12
  CONTROL "",IDC_EDTSWEEPSTEPTIME,"Edit",0x50012001,54,312,114,15,0x00000200
END

IDD_DLGLGACLD DIALOGEX 0,18,471,393
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCLGASCRN,"LGACLASS",0x56100000,0,0,468,390,0x00000200
END

IDD_DLGLGA DIALOGEX 475,18,219,369
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x40000000
BEGIN
  CONTROL "",IDC_BTNSRUP,"Button",0x50010040,201,15,18,15
  CONTROL "",IDC_TRBSR,"msctls_trackbar32",0x50000000,21,12,174,18
  CONTROL "",IDC_BTNSRDN,"Button",0x50010040,0,15,18,15
  CONTROL "Sample Rate",IDC_STCSR,"Static",0x50000000,0,0,87,12
  CONTROL "",IDC_BTNBSUP,"Button",0x50010040,201,54,18,15
  CONTROL "",IDC_TRBBS,"msctls_trackbar32",0x50000000,21,51,174,18
  CONTROL "",IDC_BTNBSDN,"Button",0x50010040,0,54,18,15
  CONTROL "Buffer Size",IDC_STCBS,"Static",0x50000000,0,39,87,12
  CONTROL "Trigger Value",-1,"Button",0x50000007,0,90,102,102
  CONTROL "Clear / Set all",IDC_CHKLGATRIGALL,"Button",0x50010023,21,102,57,9
  CONTROL "D0",IDC_CHKLGATRIGD0,"Button",0x50010023,66,114,21,9
  CONTROL "D1",IDC_CHKLGATRIGD1,"Button",0x50010023,66,123,21,9
  CONTROL "D2",IDC_CHKLGATRIGD2,"Button",0x50010023,66,132,21,9
  CONTROL "D3",IDC_CHKLGATRIGD3,"Button",0x50010023,66,141,21,9
  CONTROL "D4",IDC_CHKLGATRIGD4,"Button",0x50010023,66,150,21,9
  CONTROL "D5",IDC_CHKLGATRIGD5,"Button",0x50010023,66,159,21,9
  CONTROL "D6",IDC_CHKLGATRIGD6,"Button",0x50010023,66,168,21,9
  CONTROL "D7",IDC_CHKLGATRIGD7,"Button",0x50010023,66,177,21,9
  CONTROL "Trigger Mask",-1,"Button",0x50000007,117,90,102,102
  CONTROL "Clear / Set all",IDC_CHKLGAMASKALL,"Button",0x50010023,138,102,57,9
  CONTROL "D0",IDC_CHKLGAMASKD0,"Button",0x50010023,183,114,21,9
  CONTROL "D1",IDC_CHKLGAMASKD1,"Button",0x50010023,183,123,21,9
  CONTROL "D2",IDC_CHKLGAMASKD2,"Button",0x50010023,183,132,21,9
  CONTROL "D3",IDC_CHKLGAMASKD3,"Button",0x50010023,183,141,21,9
  CONTROL "D4",IDC_CHKLGAMASKD4,"Button",0x50010023,183,150,21,9
  CONTROL "D5",IDC_CHKLGAMASKD5,"Button",0x50010023,183,159,21,9
  CONTROL "D6",IDC_CHKLGAMASKD6,"Button",0x50010023,183,168,21,9
  CONTROL "D7",IDC_CHKLGAMASKD7,"Button",0x50010023,183,177,21,9
  CONTROL "Sample",IDC_BTNLGASAMPLE,"Button",0x50010000,3,345,48,13
  CONTROL "",IDC_BTNTRGNEXT,"Button",0x50010040,201,213,18,15
  CONTROL "",IDC_BTNTRGPREVIOUS,"Button",0x50010040,0,213,18,15
  CONTROL "Find Trigger",IDC_STATIC,"Static",0x50000001,48,213,123,12
END

IDD_DLGMAKEWAVECLD DIALOGEX 0,18,471,393
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "",IDC_UDCMAKEWAVE,"MWCLASS",0x56000000,0,0,468,390,0x00000200
END

IDD_DLGMAKEWAVE DIALOGEX 475,18,228,369
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "Main",IDC_RBNMAIN,"Button",0x50030009,18,15,48,12
  CONTROL "Harmonic",IDC_RBNHARMONIC,"Button",0x50010009,69,15,48,12
  CONTROL "Noise",IDC_RBNNOISE,"Button",0x50010009,120,15,48,12
  CONTROL "Result",IDC_RBNRESULT,"Button",0x50010009,171,15,48,12
  CONTROL "Show Wave",IDC_STATIC,"Static",0x50000000,18,3,69,12
  CONTROL "Main Amplitude",IDC_STATIC,"Static",0x50000000,3,39,66,12
  CONTROL "",IDC_BTNMADN,"Button",0x50010040,3,54,18,15
  CONTROL "",IDC_TRBMA,"msctls_trackbar32",0x50000000,24,51,174,18
  CONTROL "",IDC_BTNMAUP,"Button",0x50010040,204,54,18,15
  CONTROL "Second Harmonic Amplitude",IDC_STATIC,"Static",0x50000000,3,93,93,12
  CONTROL "",IDC_BTN2HADN,"Button",0x50010040,3,108,18,15
  CONTROL "",IDC_TRB2HA,"msctls_trackbar32",0x50000000,24,105,174,18
  CONTROL "",IDC_BTN2HAUP,"Button",0x50010040,204,108,18,15
  CONTROL "Third Harmonic Amplitude",IDC_STATIC,"Static",0x50000000,3,129,108,12
  CONTROL "",IDC_BTN3HADN,"Button",0x50010040,3,144,18,15
  CONTROL "",IDC_TRB3HA,"msctls_trackbar32",0x50000000,24,141,174,18
  CONTROL "",IDC_BTN3HAUP,"Button",0x50010040,204,144,18,15
  CONTROL "Fourth Harmonic Amplitude",IDC_STATIC,"Static",0x50000000,3,165,108,12
  CONTROL "",IDC_BTN4HADN,"Button",0x50010040,3,180,18,15
  CONTROL "",IDC_TRB4HA,"msctls_trackbar32",0x50000000,24,177,174,18
  CONTROL "",IDC_BTN4HAUP,"Button",0x50010040,204,180,18,15
  CONTROL "Noise Amplitude",IDC_STATIC,"Static",0x50000000,3,222,66,12
  CONTROL "",IDC_BTNNADN,"Button",0x50010040,3,237,18,15
  CONTROL "",IDC_TRBNA,"msctls_trackbar32",0x50000000,24,234,174,18
  CONTROL "",IDC_BTNNAUP,"Button",0x50010040,204,237,18,15
  CONTROL "Noise Freqency",IDC_STATIC,"Static",0x50000000,0,258,66,12
  CONTROL "",IDC_BTNNFDN,"Button",0x50010040,0,273,18,15
  CONTROL "",IDC_TRBNF,"msctls_trackbar32",0x50000000,21,270,174,18
  CONTROL "",IDC_BTNNFUP,"Button",0x50010040,201,273,18,15
  CONTROL "Wave",IDC_STATIC,"Static",0x50000000,99,39,24,12
  CONTROL "Wave",IDC_STATIC,"Static",0x50000000,99,93,24,12
  CONTROL "Sine",IDC_RBNMAINSINE,"Button",0x50030009,123,39,27,9
  CONTROL "Triangle",IDC_RBNMAINTRIANGLE,"Button",0x50010009,150,39,39,9
  CONTROL "Square",IDC_RBNMAINSQUARE,"Button",0x50010009,189,39,36,9
  CONTROL "Sine",IDC_RBNHARMONICSINE,"Button",0x50030009,123,93,27,9
  CONTROL "Triangle",IDC_RBNHARMONICTRIANGLE,"Button",0x50010009,150,93,39,9
  CONTROL "Square",IDC_RBNHARMONICSQUARE,"Button",0x50010009,189,93,36,9
END

