#define IDB_TOOLBAR						100
#define MANIFEST 						24
#define IDI_ICON						100
IDB_TOOLBAR				BITMAP    DISCARDABLE "Res/toolbar.bmp"
1						MANIFEST  DISCARDABLE "Res/xptheme.xml"
IDI_ICON				ICON      DISCARDABLE "Res/ResEd.ico"
