#define IDD_DIALOG 1000
#define IDC_GRAPH 1001
#define IDC_RBNVOLT 1002
#define IDC_RBNAMP 1003
#define IDC_RBNAMB 1005
#define IDC_RBNCELL 1006
#define IDC_RBNPOWER 1004
#define IDM_MENU 10000
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101

IDD_DIALOG DIALOGEX 6,6,411,213
CAPTION "Dialog As Main"
FONT 8,"MS Sans Serif",0,0,0
CLASS "MAINCLASS"
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_GRAPH,"GRAPHCLASS",0x50000000,0,0,342,213,0x00000200
  CONTROL "Volts",IDC_RBNVOLT,"Button",0x50010009,348,3,57,9
  CONTROL "Power",IDC_RBNPOWER,"Button",0x50010009,348,24,57,9
  CONTROL "Amps",IDC_RBNAMP,"Button",0x50010009,348,12,57,9
  CONTROL "Temp Ambient",IDC_RBNAMB,"Button",0x50010009,348,33,57,9
  CONTROL "Temp Cell",IDC_RBNCELL,"Button",0x50010009,348,45,57,9
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

