#define IDD_DIALOG 1000
#define IDC_GRAPH 1001
#define IDC_RBNVOLTAGE 1002
#define IDC_RBNPOWER 1004
#define IDC_RBNCURRENT 1003
#define IDC_RBNAMB 1005
#define IDC_RBNCELL 1006
#define IDC_DISPLAY 1021
#define IDC_STCPOWER 1010
#define IDC_EDTPOWER 1008
#define IDC_UDNPOWER 1009
#define IDC_CHKSTEP 1011
#define IDC_STCPOWERMIN 1012
#define IDC_EDTPOWERMIN 1013
#define IDC_UDNPOWERMIN 1014
#define IDC_STCPOWERMAX 1015
#define IDC_EDTPOWERMAX 1016
#define IDC_UDNPOWERMAX 1017
#define IDC_STCAMBTEMP 1018
#define IDC_EDTAMBTEMP 1019
#define IDC_UDNAMBTEMP 1020
#define IDC_RBNHEATER 1007
#define IDC_UDNOFS 1022
#define IDC_STCCELLTEMP 1023
#define IDC_EDTCELLTEMP 1024
#define IDC_UDNCELLTEMP 1025
#define IDM_MENU 10000
#define IDM_FILE_OPEN 10002
#define IDM_FILE_CLOSE 10003
#define IDM_FILE_SAVE 10004
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101

IDD_DIALOG DIALOGEX 6,6,534,261
CAPTION "Lenr"
FONT 8,"MS Sans Serif",0,0,0
CLASS "MAINCLASS"
STYLE 0x10CA0800
BEGIN
  CONTROL "",IDC_GRAPH,"GRAPHCLASS",0x50000000,0,0,534,213,0x00000200
  CONTROL "Voltage",IDC_RBNVOLTAGE,"Button",0x50010009,3,216,57,9
  CONTROL "Power",IDC_RBNPOWER,"Button",0x50010009,123,216,57,9
  CONTROL "Current",IDC_RBNCURRENT,"Button",0x50010009,63,216,57,9
  CONTROL "Temp Ambient",IDC_RBNAMB,"Button",0x50010009,183,216,57,9
  CONTROL "Temp Cell",IDC_RBNCELL,"Button",0x50010009,243,216,57,9
  CONTROL "",IDC_DISPLAY,"DISPLAYCLASS",0x50000000,435,216,102,39,0x00000200
  CONTROL "Power:",IDC_STCPOWER,"Static",0x50000000,3,231,66,9
  CONTROL "0",IDC_EDTPOWER,"Edit",0x50010001,0,240,30,15,0x00000200
  CONTROL "",IDC_UDNPOWER,"msctls_updown32",0x50000012,30,240,18,15
  CONTROL "Power up / down every hour",IDC_CHKSTEP,"Button",0x50010003,45,240,105,12
  CONTROL "Power min:",IDC_STCPOWERMIN,"Static",0x50000000,153,231,66,9
  CONTROL "0",IDC_EDTPOWERMIN,"Edit",0x50010001,153,240,30,15,0x00000200
  CONTROL "",IDC_UDNPOWERMIN,"msctls_updown32",0x50000012,183,240,18,15
  CONTROL "Power max:",IDC_STCPOWERMAX,"Static",0x50000000,204,231,66,9
  CONTROL "0",IDC_EDTPOWERMAX,"Edit",0x50010001,204,240,30,15,0x00000200
  CONTROL "",IDC_UDNPOWERMAX,"msctls_updown32",0x50000012,234,240,18,15
  CONTROL "Ambient temp:",IDC_STCAMBTEMP,"Static",0x50000000,258,231,48,9
  CONTROL "0",IDC_EDTAMBTEMP,"Edit",0x50010001,255,240,30,15,0x00000200
  CONTROL "",IDC_UDNAMBTEMP,"msctls_updown32",0x50000012,285,240,18,15
  CONTROL "Temp Heater",IDC_RBNHEATER,"Button",0x50010009,303,216,57,9
  CONTROL "",IDC_UDNOFS,"msctls_updown32",0x50000040,381,216,45,15
  CONTROL "Cell temp:",IDC_STCCELLTEMP,"Static",0x50000000,309,231,48,9
  CONTROL "0",IDC_EDTCELLTEMP,"Edit",0x50010001,309,240,30,15,0x00000200
  CONTROL "",IDC_UDNCELLTEMP,"msctls_updown32",0x50000012,339,240,18,15
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open",IDM_FILE_OPEN
    MENUITEM "&Close",IDM_FILE_CLOSE
    MENUITEM "&Save",IDM_FILE_SAVE
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

