#define IDD_DIALOG 1000
#define IDC_GRAPH 1001
#define IDM_MENU 10000
#define IDM_FILE_EXIT 10001
#define IDM_HELP_ABOUT 10101

IDD_DIALOG DIALOGEX 6,6,342,213
CAPTION "Dialog As Main"
FONT 8,"MS Sans Serif",0,0,0
CLASS "MAINCLASS"
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_GRAPH,"GRAPHCLASS",0x50000000,0,0,342,213,0x00000200
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

