#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_NEW 10002
#define IDM_FILE_EXIT 10004
#define IDM_WINDOW 10005
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&New File",IDM_FILE_NEW
    MENUITEM "",10003,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  MENUITEM "&Window",IDM_WINDOW
END
