#define IDD_DLGGLCD 1000
#define IDC_CBODATA 1001
#define IDC_CBOCS 1002
#define IDC_CBOCD 1003
#define IDC_CBOR 1004
#define IDC_CBOW 1005
#define IDC_CBORST 1006
#define IDC_CBOMD 1007
#define IDC_CBOFS 1008
#define IDC_UDCGLCD 1009
#define IDC_BTNEXPAND 1010
#define IDC_SHP1 1011
#define IDC_IMGGLCD 1012
#define IDC_CHKACTIVE 1013
#define IDC_CHKBACKLIGHT 1014
#define IDB_GLCD 100

IDD_DLGGLCD DIALOGEX 10,10,324,315
CAPTION "Grapic LCD (240x128)"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x00CC0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_CBODATA,"ComboBox",0x50210003,3,201,54,66
  CONTROL "",IDC_CBOCS,"ComboBox",0x50210003,3,222,54,66
  CONTROL "",IDC_CBOCD,"ComboBox",0x50210003,3,243,54,66
  CONTROL "",IDC_CBOR,"ComboBox",0x50210003,3,264,54,66
  CONTROL "",IDC_CBOW,"ComboBox",0x50210003,3,285,54,66
  CONTROL "",IDC_CBORST,"ComboBox",0x50210003,246,198,54,66
  CONTROL "",IDC_CBOMD,"ComboBox",0x50210003,246,219,54,66
  CONTROL "",IDC_CBOFS,"ComboBox",0x50210003,246,240,54,66
  CONTROL "",IDC_UDCGLCD,"GLCDCLASS",0x50000000,0,0,324,162,0x00000200
  CONTROL ">",IDC_BTNEXPAND,"Button",0x50010000,3,165,15,15
  CONTROL "",IDC_SHP1,"Static",0x50000010,0,183,327,0
  CONTROL IDB_GLCD,IDC_IMGGLCD,"Static",0x5000020E,60,186,183,126
  CONTROL "Active",IDC_CHKACTIVE,"Button",0x50010003,192,165,60,9
  CONTROL "Back Light",IDC_CHKBACKLIGHT,"Button",0x50010003,255,165,60,9
END

IDB_GLCD BITMAP DISCARDABLE "GLCD.bmp"

