;Filebrowser
300 BITMAP					"Res/FileDir.bmp"
STRINGTABLE DISCARDABLE
BEGIN
  1							"Up One Level"
  2							"File Filter"
END
;Property
101 BITMAP					"Res/ToolBar.bmp"
STRINGTABLE DISCARDABLE
BEGIN
  11						"Current file"
  12						"Open files"
  13						"Selected project file"
  14						"All project files"
  15						"Refresh"
END
;Code complete
102 BITMAP					"Res/Types.bmp"
;Grid
102 CURSOR					"Res/SplitV.cur"
;Hex edit
;102 BITMAP					"Res/Bookmark.bmp"
104 BITMAP					"Res/Linenumber.bmp"
101 CURSOR					"Res/SplitH.cur"
103 CURSOR					"Res/Select.cur"
