#define IDR_CONTEXTMENU 11000
#define IDCM_RESOURCE 11001
#define IDCM_FILE 11005
#define IDCM_FILE_OPEN 11014
#define IDCM_FILE_EXPLORE 11019
#define IDCM_FILE_TOCODE 11018
#define IDCM_PROJECT 11006
#define IDCM_PROPERTY 11008
#define IDM_PROPERTY_GOTO 11025
#define IDM_PROPERTY_COPY 11026
#define IDM_PROPERTY_PROTO 11027
#define IDCM_OUTPUT 11009
#define IDM_OUTPUT_HIDE 11020
#define IDM_OUTPUT_CLEAR 11024
#define IDM_OUTPUT_CUT 11023
#define IDM_OUTPUT_COPY 11022
IDR_CONTEXTMENU MENUEX
BEGIN
  POPUP "Resource",IDCM_RESOURCE
  BEGIN
    MENUITEM "Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",11007,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",11002,0x00000800
    MENUITEM "Lock Controls",IDM_FORMAT_LOCK
    MENUITEM "Bring To Front",IDM_FORMAT_FRONT
    MENUITEM "Send To Back",IDM_FORMAT_BACK
    MENUITEM "Show Grid",IDM_FORMAT_SHOW
    MENUITEM "Snap To Grid",IDM_FORMAT_SNAP
    MENUITEM "",11003,0x00000800
    POPUP "Align Controls",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "Left",IDM_FORMAT_ALIGNLEFT
      MENUITEM "Center",IDM_FORMAT_ALIGNCENTER
      MENUITEM "Right",IDM_FORMAT_ALIGNRIGHT
      MENUITEM "",11004,0x00000800
      MENUITEM "Top",IDM_FORMAT_ALIGNTOP
      MENUITEM "Middle",IDM_FORMAT_ALIGNMIDDLE
      MENUITEM "Bottom",IDM_FORMAT_ALIGNBOTTOM
    END
    POPUP "Same Size",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "Width",IDM_FORMAT_SIZEWIDTH
      MENUITEM "Height",IDM_FORMAT_SIZEHEIGHT
      MENUITEM "Both",IDM_FORMAT_SIZEBOTH
    END
    POPUP "Center In Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "Horizontal",IDM_FORMAT_CENTERHORIZONTAL
      MENUITEM "Vertical",IDM_FORMAT_CENTERVERTICAL
    END
    MENUITEM "Set Tabindex",IDM_FORMAT_INDEX
  END
  POPUP "File Browser",IDCM_FILE
  BEGIN
    MENUITEM "Open",IDCM_FILE_OPEN
    MENUITEM "Explore",IDCM_FILE_EXPLORE
    MENUITEM "",11017,0x00000800
    MENUITEM "Copy Name To Code",IDCM_FILE_TOCODE
  END
  MENUITEM "Project Browser",IDCM_PROJECT
  POPUP "Property",IDCM_PROPERTY
  BEGIN
    MENUITEM "Goto Declare",IDM_PROPERTY_GOTO
    MENUITEM "Copy To Code",IDM_PROPERTY_COPY
    MENUITEM "Create Proto",IDM_PROPERTY_PROTO
  END
  POPUP "Output",IDCM_OUTPUT
  BEGIN
    MENUITEM "Hide",IDM_OUTPUT_HIDE
    MENUITEM "Clear",IDM_OUTPUT_CLEAR
    MENUITEM "",11021,0x00000800
    MENUITEM "Cut All",IDM_OUTPUT_CUT
    MENUITEM "Copy All",IDM_OUTPUT_COPY
  END
END
