#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_NEW 10002
#define IDM_FILE_OPEN 10006
#define IDM_FILE_OPENHEX 10060
#define IDM_FILE_REOPEN 10062
#define IDM_FILE_CLOSE 10055
#define IDM_FILE_SAVE 10007
#define IDM_FILE_SAVEAS 10061
#define IDM_FILE_SAVEALL 10008
#define IDM_FILE_PAGESETUP 10056
#define IDM_FILE_PRINT 10010
#define IDM_FILE_EXIT 10004
#define IDM_EDIT 10011
#define IDM_EDIT_UNDO 10019
#define IDM_EDIT_REDO 10020
#define IDM_EDIT_CUT 10012
#define IDM_EDIT_COPY 10013
#define IDM_EDIT_PASTE 10014
#define IDM_EDIT_DELETE 10015
#define IDM_EDIT_SELECTALL 10059
#define IDM_EDIT_FIND 10017
#define IDM_EDIT_FINDNEXT 10169
#define IDM_EDIT_FINDPREV 10170
#define IDM_EDIT_REPLACE 10018
#define IDM_EDIT_GOTODECLARE 10172
#define IDM_EDIT_RETURN 10173
#define IDM_EDIT_BLOCK 10022
#define IDM_EDIT_INDENT 10028
#define IDM_EDIT_OUTDENT 10029
#define IDM_EDIT_COMMENT 10030
#define IDM_EDIT_UNCOMMENT 10031
#define IDM_EDIT_BOKKMARK 10023
#define IDM_EDIT_TOGGLEBM 10024
#define IDM_EDIT_NEXTBM 10025
#define IDM_EDIT_PREVBM 10026
#define IDM_EDIT_CLEARBM 10027
#define IDM_VIEW 10032
#define IDM_VIEW_TOOLBAR 10046
#define IDM_VIEW_LOCK 10063
#define IDM_VIEW_TBFILE 10049
#define IDM_VIEW_TBEDIT 10050
#define IDM_VIEW_TBBOOKMARK 10053
#define IDM_VIEW_TBVIEW 10051
#define IDM_VIEW_TBMAKE 10052
#define IDM_VIEW_TBBUILD 10054
#define IDM_VIEW_STATUSBAR 10033
#define IDM_VIEW_PROJECT 10047
#define IDM_VIEW_PROPERTIES 10048
#define IDM_VIEW_OUTPUT 10034
#define IDM_VIEW_TAB 10035
#define IDM_FORMAT 10041
#define IDM_FORMAT_LOCK 10070
#define IDM_FORMAT_FRONT 10071
#define IDM_FORMAT_BACK 10072
#define IDM_FORMAT_SHOW 10073
#define IDM_FORMAT_SNAP 10074
#define IDM_FORMAT_ALIGN 10076
#define IDM_FORMAT_ALIGNLEFT 10080
#define IDM_FORMAT_ALIGNCENTER 10081
#define IDM_FORMAT_ALIGNRIGHT 10082
#define IDM_FORMAT_ALIGNTOP 10084
#define IDM_FORMAT_ALIGNMIDDLE 10085
#define IDM_FORMAT_ALIGNBOTTOM 10086
#define IDM_FORMAT_SIZE 10077
#define IDM_FORMAT_SIZEWIDTH 10087
#define IDM_FORMAT_SIZEHEIGHT 10088
#define IDM_FORMAT_SIZEBOTH 10089
#define IDM_FORMAT_CENTER 10078
#define IDM_FORMAT_CENTERHORIZONTAL 10090
#define IDM_FORMAT_CENTERVERTICAL 10091
#define IDM_FORMAT_INDEX 10079
#define IDM_PROJECT 10042
#define IDM_PROJECT_NEW 10066
#define IDM_PROJECT_OPEN 10067
#define IDM_PROJECT_CLOSE 10068
#define IDM_PROJECT_ADD 10092
#define IDM_PROJECT_ADDNEWFILE 10094
#define IDM_PROJET_ADDEXISTING 10095
#define IDM_PROJECT_ADDOPEN 10096
#define IDM_PROJECT_ADDALLOPEN 10097
#define IDM_PROJECT_ADDGROUP 10098
#define IDM_PROJECT_REMOVE 10093
#define IDM_PROJECT_REMOVEFILE 10101
#define IDM_PROJECT_REMOVEGROUP 10102
#define IDM_PROJECT_EDIT 10150
#define IDM_PROJECT_EDITFILE 10165
#define IDM_PROJECT_EDITGROUP 10164
#define IDM_PROJECT_OPENITEM 10166
#define IDM_PROJECT_OPENITEMFILE 10167
#define IDM_PROJECT_OPENITEMGROUP 10168
#define IDM_PROJECT_OPTION 10103
#define IDM_RESOURCE 10065
#define IDM_RESOURCE_ADD 10108
#define IDM_RESOURCE_ADDDIALOG 10109
#define IDM_RESOURCE_ADDMENU 10110
#define IDM_RESOURCE_ADDACCELERATOR 10111
#define IDM_RESOURCE_ADDVERSION 10112
#define IDM_RESOURCE_ADDSTRING 10113
#define IDM_RESOURCE_ADDMANIFEST 10114
#define IDM_RESOURCE_ADDRCDATA 10115
#define IDM_RESOURCE_ADDTOLBAR 10116
#define IDM_RESOURCE_LANGUAGE 10117
#define IDM_RESOURCE_INCLUDE 10118
#define IDM_RESOURCE_RESOURCE 10119
#define IDM_RESOURCE_NAMES 10120
#define IDM_RESOURCE_EXPORT 10121
#define IDM_RESOURCE_REMOVE 10123
#define IDM_RESOURCE_UNDO 10124
#define IDM_MAKE 10036
#define IDM_MAKE_COMPILE 10104
#define IDM_MAKE_ASSEMBLE 10037
#define IDM_MAKE_MODULES 10141
#define IDM_MAKE_LINK 10107
#define IDM_MAKE_BUILD 10038
#define IDM_MAKE_GO 10040
#define IDM_MAKE_RUN 10039
#define IDM_MAKE_DEBUG 10140
#define IDM_MAKE_SETMAIN 10177
#define IDM_MAKE_TOGGLEMODULE 10178
#define IDM_DEBUG 10125
#define IDM_DEBUG_TOGGLE 10128
#define IDM_DEBUG_CLEAR 10129
#define IDM_DEBUG_RUN 10131
#define IDM_DEBUG_BREAK 10132
#define IDM_DEBUG_STOP 10133
#define IDM_DEBUG_INTO 10135
#define IDM_DEBUG_OVER 10136
#define IDM_DEBUG_CARET 10137
#define IDM_DEBUG_NODEBUG 10139
#define IDM_TOOLS 10043
#define IDM_TOOLS_SNIPLETS 10174
#define IDM_WINDOW 10005
#define IDM_WINDOW_CLOSE 10055
#define IDM_WINDOW_CLOSEALL 10151
#define IDM_WINDOW_CLOSEALLBUT 10152
#define IDM_WINDOW_HORIZONTAL 10142
#define IDM_WINDOW_VERTICAL 10143
#define IDM_WIDDOW_CASCADE 10144
#define IDM_WINDOW_ICONS 10145
#define IDM_WINDOW_MAXIMIZE 10147
#define IDM_WINDOW_RESTORE 10148
#define IDM_WINDOW_MINIMIZE 10149
#define IDM_OPTION 10044
#define IDM_OPTION_CODE 10154
#define IDM_OPTION_RESOURCE 10155
#define IDM_OPTION_PATH 10156
#define IDM_OPTION_EXTERNAL 10158
#define IDM_OPTION_ADDIN 10157
#define IDM_OPTION_TOOLS 10160
#define IDM_OPTION_HELP 10161
#define IDM_HELP 10045
#define IDM_HELP_ABOUT 10162
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&New File\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open File\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "Open As &Hex\tCtrl+H",IDM_FILE_OPENHEX
    MENUITEM "&Reopen File\tCtrl+Shift+O",IDM_FILE_REOPEN
    MENUITEM "&Close File\tF4",IDM_FILE_CLOSE
    MENUITEM "&Save File\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save File &As\tAlt+Ctrl+S",IDM_FILE_SAVEAS
    MENUITEM "Save All &Files\tCtrl+Shift+S",IDM_FILE_SAVEALL
    MENUITEM "",10009,0x00000800
    MENUITEM "Page Setup\tCtrl+Shift+P",IDM_FILE_PAGESETUP
    MENUITEM "&Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",10003,0x00000800
    MENUITEM "&Exit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit",IDM_EDIT
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",10021,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",10016,0x00000800
    MENUITEM "&Select All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",10058,0x00000800
    MENUITEM "&Find\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find Next\tF3",IDM_EDIT_FINDNEXT
    MENUITEM "Find Previous\tCtrl+F3",IDM_EDIT_FINDPREV
    MENUITEM "&Replace\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM "",10171,0x00000800
    MENUITEM "Goto Declare\tF2",IDM_EDIT_GOTODECLARE
    MENUITEM "Return\tCtrl+F2",IDM_EDIT_RETURN
    MENUITEM "",10057,0x00000800
    POPUP "Block",IDM_EDIT_BLOCK
    BEGIN
      MENUITEM "Indent\tTab",IDM_EDIT_INDENT
      MENUITEM "Outdent\tShift+Tab",IDM_EDIT_OUTDENT
      MENUITEM "Comment\tF9",IDM_EDIT_COMMENT
      MENUITEM "Uncomment\tCtrl+F9",IDM_EDIT_UNCOMMENT
    END
    POPUP "Bookmark",IDM_EDIT_BOKKMARK
    BEGIN
      MENUITEM "Toggle\tShift+F8",IDM_EDIT_TOGGLEBM
      MENUITEM "Next\tF8",IDM_EDIT_NEXTBM
      MENUITEM "Previous\tCtrl+F8",IDM_EDIT_PREVBM
      MENUITEM "Clear\tCtrl+Shift+F8",IDM_EDIT_CLEARBM
    END
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    POPUP "&Toolbar",IDM_VIEW_TOOLBAR
    BEGIN
      MENUITEM "&Lock Toolbars",IDM_VIEW_LOCK
      MENUITEM "",10064,0x00000800
      MENUITEM "&File",IDM_VIEW_TBFILE
      MENUITEM "&Edit",IDM_VIEW_TBEDIT
      MENUITEM "&Bookmark",IDM_VIEW_TBBOOKMARK
      MENUITEM "&View",IDM_VIEW_TBVIEW
      MENUITEM "&Make",IDM_VIEW_TBMAKE
      MENUITEM "Build Type",IDM_VIEW_TBBUILD
    END
    MENUITEM "&Statusbar",IDM_VIEW_STATUSBAR
    MENUITEM "&Project",IDM_VIEW_PROJECT
    MENUITEM "Properties",IDM_VIEW_PROPERTIES
    MENUITEM "&Output",IDM_VIEW_OUTPUT
    MENUITEM "Tab Select",IDM_VIEW_TAB
  END
  POPUP "&Format",IDM_FORMAT
  BEGIN
    MENUITEM "Lock Controls",IDM_FORMAT_LOCK
    MENUITEM "Bring To Front",IDM_FORMAT_FRONT
    MENUITEM "Send To Back",IDM_FORMAT_BACK
    MENUITEM "Show Grid",IDM_FORMAT_SHOW
    MENUITEM "Snap To Grid",IDM_FORMAT_SNAP
    MENUITEM "",10075,0x00000800
    POPUP "Align Controls",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "Left",IDM_FORMAT_ALIGNLEFT
      MENUITEM "Center",IDM_FORMAT_ALIGNCENTER
      MENUITEM "Right",IDM_FORMAT_ALIGNRIGHT
      MENUITEM "",10083,0x00000800
      MENUITEM "Top",IDM_FORMAT_ALIGNTOP
      MENUITEM "Middle",IDM_FORMAT_ALIGNMIDDLE
      MENUITEM "Bottom",IDM_FORMAT_ALIGNBOTTOM
    END
    POPUP "Same Size",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "Width",IDM_FORMAT_SIZEWIDTH
      MENUITEM "Height",IDM_FORMAT_SIZEHEIGHT
      MENUITEM "Both",IDM_FORMAT_SIZEBOTH
    END
    POPUP "Center In Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "Horizontal",IDM_FORMAT_CENTERHORIZONTAL
      MENUITEM "Vertical",IDM_FORMAT_CENTERVERTICAL
    END
    MENUITEM "Set Tab Index",IDM_FORMAT_INDEX
  END
  POPUP "&Project",IDM_PROJECT
  BEGIN
    MENUITEM "New Project",IDM_PROJECT_NEW
    MENUITEM "Open Project",IDM_PROJECT_OPEN
    MENUITEM "Close Project",IDM_PROJECT_CLOSE
    MENUITEM "",10069,0x00000800
    POPUP "Add Item",IDM_PROJECT_ADD
    BEGIN
      MENUITEM "New File",IDM_PROJECT_ADDNEWFILE
      MENUITEM "Existing Files",IDM_PROJET_ADDEXISTING
      MENUITEM "",10099,0x00000800
      MENUITEM "Current Open File",IDM_PROJECT_ADDOPEN
      MENUITEM "All Open Files",IDM_PROJECT_ADDALLOPEN
      MENUITEM "",10100,0x00000800
      MENUITEM "Project Group",IDM_PROJECT_ADDGROUP
    END
    POPUP "Remove Item",IDM_PROJECT_REMOVE
    BEGIN
      MENUITEM "Selected File",IDM_PROJECT_REMOVEFILE
      MENUITEM "Selected Group",IDM_PROJECT_REMOVEGROUP
    END
    POPUP "Rename Item",IDM_PROJECT_EDIT
    BEGIN
      MENUITEM "Selected File",IDM_PROJECT_EDITFILE
      MENUITEM "Selected Group",IDM_PROJECT_EDITGROUP
    END
    POPUP "Open Item",IDM_PROJECT_OPENITEM
    BEGIN
      MENUITEM "Selected File",IDM_PROJECT_OPENITEMFILE
      MENUITEM "Selected Group",IDM_PROJECT_OPENITEMGROUP
    END
    MENUITEM "",10126,0x00000800
    MENUITEM "Project Options",IDM_PROJECT_OPTION
  END
  POPUP "&Resource",IDM_RESOURCE
  BEGIN
    POPUP "Add New",IDM_RESOURCE_ADD
    BEGIN
      MENUITEM "Dialog",IDM_RESOURCE_ADDDIALOG
      MENUITEM "Menu",IDM_RESOURCE_ADDMENU
      MENUITEM "Acceleratortable",IDM_RESOURCE_ADDACCELERATOR
      MENUITEM "Versioninfo",IDM_RESOURCE_ADDVERSION
      MENUITEM "Stringtable",IDM_RESOURCE_ADDSTRING
      MENUITEM "Manifest",IDM_RESOURCE_ADDMANIFEST
      MENUITEM "RCData",IDM_RESOURCE_ADDRCDATA
      MENUITEM "Toolbar",IDM_RESOURCE_ADDTOLBAR
    END
    MENUITEM "Language",IDM_RESOURCE_LANGUAGE
    MENUITEM "Include Files",IDM_RESOURCE_INCLUDE
    MENUITEM "Resource Files",IDM_RESOURCE_RESOURCE
    MENUITEM "Names",IDM_RESOURCE_NAMES
    MENUITEM "Export Names",IDM_RESOURCE_EXPORT
    MENUITEM "",10122,0x00000800
    MENUITEM "Remove Selected",IDM_RESOURCE_REMOVE
    MENUITEM "Undo Remove",IDM_RESOURCE_UNDO
  END
  POPUP "&Make",IDM_MAKE
  BEGIN
    MENUITEM "Compile Resource\tShift+F5",IDM_MAKE_COMPILE
    MENUITEM "",10105,0x00000800
    MENUITEM "&Assemble\tF5",IDM_MAKE_ASSEMBLE
    MENUITEM "Assamble &Modules\tCtrl+M",IDM_MAKE_MODULES
    MENUITEM "&Link\tAlt+Ctrl+F5",IDM_MAKE_LINK
    MENUITEM "&Build\tAlt+Shift+F5",IDM_MAKE_BUILD
    MENUITEM "",10106,0x00000800
    MENUITEM "&Go\tCtrl+F5",IDM_MAKE_GO
    MENUITEM "",10127,0x00000800
    MENUITEM "&Run\tCtrl+Shift+F5",IDM_MAKE_RUN
    MENUITEM "Run With Debug\tCtrl+D",IDM_MAKE_DEBUG
    MENUITEM "",10176,0x00000800
    MENUITEM "Set Current As Main File",IDM_MAKE_SETMAIN
    MENUITEM "Toggle Current As Module",IDM_MAKE_TOGGLEMODULE
  END
  POPUP "&Debug",IDM_DEBUG
  BEGIN
    MENUITEM "&Toggle Breakpoint\tCtrl+T",IDM_DEBUG_TOGGLE
    MENUITEM "&Clear Breakpoints\tCtrl+Shift+T",IDM_DEBUG_CLEAR
    MENUITEM "",10130,0x00000800
    MENUITEM "&Run\tShift+F7",IDM_DEBUG_RUN
    MENUITEM "&Break\tAlt+Ctrl+F7",IDM_DEBUG_BREAK
    MENUITEM "&Stop\tAlt+F7",IDM_DEBUG_STOP
    MENUITEM "",10134,0x00000800
    MENUITEM "Step &Into\tF7",IDM_DEBUG_INTO
    MENUITEM "Step &Over\tCtrl+F7",IDM_DEBUG_OVER
    MENUITEM "R&un To Caret\tCtrl+Shift+F7",IDM_DEBUG_CARET
    MENUITEM "",10138,0x00000800
    MENUITEM "Do Not Debug",IDM_DEBUG_NODEBUG
  END
  POPUP "&Tools",IDM_TOOLS
  BEGIN
    MENUITEM "Code Sniplets\tF11",IDM_TOOLS_SNIPLETS
    MENUITEM "",10175,0x00000800
  END
  POPUP "&Window",IDM_WINDOW
  BEGIN
    MENUITEM "&Close\tF4",IDM_WINDOW_CLOSE
    MENUITEM "Close &All\tCtrl+F4",IDM_WINDOW_CLOSEALL
    MENUITEM "Close All &But Current\tCtrl+Shift+F4",IDM_WINDOW_CLOSEALLBUT
    MENUITEM "",10153,0x00000800
    MENUITEM "Tile &Horizontal",IDM_WINDOW_HORIZONTAL
    MENUITEM "Tile &Vertical",IDM_WINDOW_VERTICAL
    MENUITEM "Cascade",IDM_WIDDOW_CASCADE
    MENUITEM "Arrange &Icons",IDM_WINDOW_ICONS
    MENUITEM "",10146,0x00000800
    MENUITEM "&Maximize",IDM_WINDOW_MAXIMIZE
    MENUITEM "&Restore",IDM_WINDOW_RESTORE
    MENUITEM "&Minim&ize",IDM_WINDOW_MINIMIZE
  END
  POPUP "&Option",IDM_OPTION
  BEGIN
    MENUITEM "Code Editor",IDM_OPTION_CODE
    MENUITEM "Resource Editor",IDM_OPTION_RESOURCE
    MENUITEM "Path Options",IDM_OPTION_PATH
    MENUITEM "External Files",IDM_OPTION_EXTERNAL
    MENUITEM "Addin Manager",IDM_OPTION_ADDIN
    MENUITEM "",10159,0x00000800
    MENUITEM "Tools Menu",IDM_OPTION_TOOLS
    MENUITEM "Help Menu",IDM_OPTION_HELP
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "About",IDM_HELP_ABOUT
    MENUITEM "",10163,0x00000800
  END
END
