#define IDA_ACCEL						100
IDA_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  115,IDM_FILE_CLOSE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVEALL,VIRTKEY,NOINVERT,SHIFT,CONTROL
  70,IDM_EDIT_FIND,VIRTKEY,NOINVERT,CONTROL
  82,IDM_EDIT_REPLACE,VIRTKEY,NOINVERT,CONTROL
  120,IDM_EDIT_COMMENT,VIRTKEY,NOINVERT
  120,IDM_EDIT_UNCOMMENT,VIRTKEY,NOINVERT,CONTROL
  119,IDM_EDIT_TOGGLEBM,VIRTKEY,NOINVERT,SHIFT
  119,IDM_EDIT_NEXTBM,VIRTKEY,NOINVERT
  119,IDM_EDIT_PREVBM,VIRTKEY,NOINVERT,CONTROL
  119,IDM_EDIT_CLEARBM,VIRTKEY,NOINVERT,SHIFT,CONTROL
END
