#define IDI_MDIICO						100
#define IDC_SPLICURV					150
#define IDC_SPLICURH					151
#define IDB_TBRBMP						152
IDI_MDIICO				ICON      DISCARDABLE "Res/RadAsm.ico"
IDC_SPLICURV			CURSOR    DISCARDABLE "Res/SplitV.cur"
IDC_SPLICURH			CURSOR    DISCARDABLE "Res/SplitH.cur"
IDB_TBRBMP				BITMAP    DISCARDABLE "Res/Toolbar.bmp"
300						BITMAP    DISCARDABLE "Res/FileDir.bmp"
310						BITMAP    DISCARDABLE "Res/Project.bmp"
101						BITMAP    DISCARDABLE "Res/PropertyToolbar.bmp"
106						BITMAP    DISCARDABLE "Res/Collapse.bmp"
105						BITMAP    DISCARDABLE "Res/Expand.bmp"
104						BITMAP    DISCARDABLE "Res/Linenumber.bmp"
103						CURSOR    DISCARDABLE "Res/Select.cur"
101						CURSOR    DISCARDABLE "Res/SplitH.cur"
32109					CURSOR    DISCARDABLE "Res/SplitH.cur"
32110					CURSOR    DISCARDABLE "Res/SplitV.cur"
32100					BITMAP    DISCARDABLE "Res/ToolBox.bmp"
