#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_NEW 10002
#define IDM_FILE_OPEN 10006
#define IDM_FILE_SAVE 10007
#define IDM_FILE_SAVEALL 10008
#define IDM_FILE_PRINT 10010
#define IDM_FILE_EXIT 10004
#define IDM_EDIT 10011
#define IDM_EDIT_UNDO 10019
#define IDM_EDIT_REDO 10020
#define IDM_EDIT_CUT 10012
#define IDM_EDIT_COPY 10013
#define IDM_EDIT_PASTE 10014
#define IDM_EDIT_DELETE 10015
#define IDM_EDIT_FIND 10017
#define IDM_EDIT_REPLACE 10018
#define IDM_EDIT_BLOCK 10022
#define IDM_EDIT_INDENT 10028
#define IDM_EDIT_OUTDENT 10029
#define IDM_EDIT_COMMENT 10030
#define IDM_EDIT_UNCOMMENT 10031
#define IDM_EDIT_BOKKMARK 10023
#define IDM_EDIT_TOGGLEBM 10024
#define IDM_EDIT_NEXTBM 10025
#define IDM_EDIT_PREVBM 10026
#define IDM_EDIT_CLEARBM 10027
#define IDM_VIEW 10032
#define IDM_VIEW_TOOLBAR 10046
#define IDM_VIEW_TBFILE 10049
#define IDM_VIEW_TBEDIT 10050
#define IDM_VIEW_TBBOOKMARK 10053
#define IDM_VIEW_TBVIEW 10051
#define IDM_VIEW_TBMAKE 10052
#define IDM_VIEW_TBBUILD 10054
#define IDM_VIEW_STATUSBAR 10033
#define IDM_VIEW_PROJECT 10047
#define IDM_VIEW_PROPERTIES 10048
#define IDM_VIEW_OUTPUT 10034
#define IDM_VIEW_TAB 10035
#define IDM_FORMAT 10041
#define IDM_PROJECT 10042
#define IDM_MAKE 10036
#define IDM_MAKE_ASSEMBLE 10037
#define IDM_MAKE_BUILD 10038
#define IDM_MAKE_RUN 10039
#define IDM_MAKE_GO 10040
#define IDM_TOOLS 10043
#define IDM_WINDOW 10005
#define IDM_OPTION 10044
#define IDM_HELP 10045
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&New File",IDM_FILE_NEW
    MENUITEM "&Open File",IDM_FILE_OPEN
    MENUITEM "&Save File",IDM_FILE_SAVE
    MENUITEM "Save All Files",IDM_FILE_SAVEALL
    MENUITEM "",10009,0x00000800
    MENUITEM "&Print",IDM_FILE_PRINT
    MENUITEM "",10003,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&Edit",IDM_EDIT
  BEGIN
    MENUITEM "&Undo",IDM_EDIT_UNDO
    MENUITEM "Redo",IDM_EDIT_REDO
    MENUITEM "",10021,0x00000800
    MENUITEM "Cut",IDM_EDIT_CUT
    MENUITEM "&Copy",IDM_EDIT_COPY
    MENUITEM "&Paste",IDM_EDIT_PASTE
    MENUITEM "&Delete",IDM_EDIT_DELETE
    MENUITEM "",10016,0x00000800
    MENUITEM "&Find",IDM_EDIT_FIND
    MENUITEM "&Replace",IDM_EDIT_REPLACE
    POPUP "Block",IDM_EDIT_BLOCK
    BEGIN
      MENUITEM "Indent",IDM_EDIT_INDENT
      MENUITEM "Outdent",IDM_EDIT_OUTDENT
      MENUITEM "Comment",IDM_EDIT_COMMENT
      MENUITEM "Uncomment",IDM_EDIT_UNCOMMENT
    END
    POPUP "Bookmark",IDM_EDIT_BOKKMARK
    BEGIN
      MENUITEM "Toggle",IDM_EDIT_TOGGLEBM
      MENUITEM "Next",IDM_EDIT_NEXTBM
      MENUITEM "Previous",IDM_EDIT_PREVBM
      MENUITEM "Clear",IDM_EDIT_CLEARBM
    END
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    POPUP "&Toolbar",IDM_VIEW_TOOLBAR
    BEGIN
      MENUITEM "&File",IDM_VIEW_TBFILE
      MENUITEM "&Edit",IDM_VIEW_TBEDIT
      MENUITEM "&Bookmark",IDM_VIEW_TBBOOKMARK
      MENUITEM "&View",IDM_VIEW_TBVIEW
      MENUITEM "&Make",IDM_VIEW_TBMAKE
      MENUITEM "Build Type",IDM_VIEW_TBBUILD
    END
    MENUITEM "&Statusbar",IDM_VIEW_STATUSBAR
    MENUITEM "&Project",IDM_VIEW_PROJECT
    MENUITEM "Properties",IDM_VIEW_PROPERTIES
    MENUITEM "&Output",IDM_VIEW_OUTPUT
    MENUITEM "Tab Select",IDM_VIEW_TAB
  END
  MENUITEM "&Format",IDM_FORMAT
  MENUITEM "&Project",IDM_PROJECT
  POPUP "&Make",IDM_MAKE
  BEGIN
    MENUITEM "&Assemble",IDM_MAKE_ASSEMBLE
    MENUITEM "&Build",IDM_MAKE_BUILD
    MENUITEM "&Run",IDM_MAKE_RUN
    MENUITEM "&Go",IDM_MAKE_GO
  END
  MENUITEM "&Tools",IDM_TOOLS
  MENUITEM "&Window",IDM_WINDOW
  MENUITEM "&Option",IDM_OPTION
  MENUITEM "&Help",IDM_HELP
END
