#define IDA_ACCEL						100
IDA_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  115,IDM_FILE_CLOSE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVEALL,VIRTKEY,NOINVERT,SHIFT,CONTROL
END
