#define IDD_MAIN 101
#define IDC_STC1 102
#define IDC_STC2 103
#define IDC_STC3 104
#define IDC_UDCCOMPASS 105
#define IDC_STC4 106
#define IDC_BTNCOMP 107
#define IDC_BTNCALIBRATE 108
#define IDC_EDTRESULT 109
#define IDC_BTNSAVE 110
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTDEC 111
#define IDC_STC5 112
#define IDC_STC6 113
#define IDC_STC7 114
#define IDC_RBN1 115
#define IDC_RBN2 116
#define IDC_RBN3 117
#define IDC_MINMAXX 119
#define IDC_BTNMINMAXY 120
#define IDC_BTNMINMAXZ 121
#define IDC_RBN4 118
#define IDC_CHKTILT 122
#define IDC_STCMAGMINMAX 123
#define IDC_STCACLMINMAX 124
#define IDD_DLGACCEL 1000
#define IDC_STC8 1001
#define IDC_STC9 1002
#define IDC_STC10 1003
#define IDC_BTNXY 1004
#define IDC_BTNACLZ 1005
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDD_DLGMAG 1100
#define IDC_BTNMAGXY 1102
#define IDC_STC11 1103
#define IDC_STC12 1104
#define IDC_STC13 1105
#define IDC_UDCMAGCAL 1107

IDD_MAIN DIALOGEX 6,6,381,270
CAPTION "STM32F4 Discovery Digital Compass"
FONT 8,"Tahoma",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Connect",1,"Button",0x50010000,3,255,48,13
  CONTROL "Exit",2,"Button",0x50010000,330,255,48,13
  CONTROL "",IDC_STC1,"Static",0x50001001,3,3,186,24
  CONTROL "",IDC_STC2,"Static",0x50001001,3,30,186,24
  CONTROL "",IDC_STC3,"Static",0x50001001,3,57,186,24
  CONTROL "",IDC_UDCCOMPASS,"UDCOMPASS",0x50000000,192,3,186,174,0x00020000
  CONTROL "",IDC_STC4,"Static",0x50001001,192,180,186,24
  CONTROL "Compensate",IDC_BTNCOMP,"Button",0x50010000,57,255,48,13
  CONTROL "Calibrate",IDC_BTNCALIBRATE,"Button",0x50010000,111,255,48,13
  CONTROL "",IDC_EDTRESULT,"Edit",0x50010804,192,207,186,42,0x00000200
  CONTROL "Save",IDC_BTNSAVE,"Button",0x58010000,138,207,48,13
  CONTROL "Magnetic declination",IDC_STATIC,"Static",0x50000000,3,210,69,9
  CONTROL "0",IDC_EDTDEC,"Edit",0x50010001,75,207,45,12,0x00000200
  CONTROL "",IDC_STC5,"Static",0x50001001,3,99,186,24
  CONTROL "",IDC_STC6,"Static",0x50001001,3,126,186,24
  CONTROL "",IDC_STC7,"Static",0x50001001,3,153,186,24
  CONTROL "Compass",IDC_RBN1,"Button",0x50010009,3,180,45,12
  CONTROL "Acl X",IDC_RBN2,"Button",0x50010009,51,180,45,12
  CONTROL "Acl Y",IDC_RBN3,"Button",0x50010009,99,180,45,12
  CONTROL "Min / Max X",IDC_MINMAXX,"Button",0x50010000,168,255,48,13
  CONTROL "Min / Max Y",IDC_BTNMINMAXY,"Button",0x50010000,222,255,48,13
  CONTROL "Min / Max Z",IDC_BTNMINMAXZ,"Button",0x50010000,276,255,48,13
  CONTROL "Acl Z",IDC_RBN4,"Button",0x50030009,144,180,45,12
  CONTROL "Tilt compensation",IDC_CHKTILT,"Button",0x50010003,3,192,72,12
  CONTROL "Mag Min / Max",IDC_STATIC,"Static",0x50000000,3,225,51,9
  CONTROL "Acl Min / Max",IDC_STATIC,"Static",0x50000000,3,240,51,9
  CONTROL "",IDC_STCMAGMINMAX,"Static",0x50001001,75,222,45,12
  CONTROL "",IDC_STCACLMINMAX,"Static",0x50001001,75,237,45,12
END

IDD_DLGACCEL DIALOGEX 0,10,192,138
CAPTION "Accelerometer calibration"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_STC8,"Static",0x50001001,3,96,186,24
  CONTROL "",IDC_STC9,"Static",0x50001001,3,69,186,24
  CONTROL "",IDC_STC10,"Static",0x50001001,3,42,186,24
  CONTROL "1. Lying flat push [Set X / Y offset]\r\n2. Lying 90 degrees push [Set Z offset]",IDC_STATIC,"Static",0x50001000,3,3,186,27
  CONTROL "Set X / Y offset",IDC_BTNXY,"Button",0x50010000,3,123,60,13
  CONTROL "Set Z offset",IDC_BTNACLZ,"Button",0x50010000,69,123,60,13
  CONTROL "Exit",IDCANCEL,"Button",0x50010000,141,123,48,13
END

IDD_DLGMAG DIALOGEX 0,0,381,180
CAPTION "Magnetometer calibration"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Exit",IDCANCEL,"Button",0x50010000,141,165,48,13
  CONTROL "Set X / Y offset",IDC_BTNMAGXY,"Button",0x50010000,3,165,60,13
  CONTROL "",IDC_STC11,"Static",0x50001001,3,138,186,24
  CONTROL "",IDC_STC12,"Static",0x50001001,3,111,186,24
  CONTROL "",IDC_STC13,"Static",0x50001001,3,84,186,24
  CONTROL "Lying flat rotate 360 deg and push [Set X / Y offset]",IDC_STATIC,"Static",0x50001000,3,3,186,27
  CONTROL "",IDC_UDCMAGCAL,"UDCOMPASS",0x50000000,192,3,186,174,0x00020000
END

